<modal-form-header>
    {{'SURVEYS.VERSION' | translate}}
</modal-form-header>
<div class="modal-body">
    <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="answer in field.prevAnswers" heading="#{{answer.version + ' - ' + (answer.created | date:format) + ' - ' + getUserName(answer.userId)}}">
            <div ng-repeat="optionId in answer.optionId">
                {{getOptionLabel(optionId)}}
            </div>
            <div gs-edit-version="answer" data-field-type="{{field.type}}">
                {{(field.type === "radio" || field.type === "checkboxes") && answer.value ? "Other:" : ""}}
                {{answer.value}}
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-{{params.okType||'default'}}" ng-click="close()" translate="COMMON.CLOSE"></button>
</div>
