<modal-form-header>
<span class="gs-message-from">
    {{model.fromUserFullName}}
    <i class="fa fa-flag" ng-show="model.isReturn"
       ng-class="{'text-success':model.isResolve, 'text-danger':!model.isResolve}"></i>
</span>
</modal-form-header>
<div class="modal-body">
    <div class="gs-message-body-wrapper">
        <div class="ta-text ta-scroll-window form-control">
            <div class="ta-bind">
                <blockquote class="taa-bind" ng-bind-html="model.range.entry"></blockquote>
                <ng-bind-html ng-bind-html="model.entry"></ng-bind-html>
            </div>
        </div>
    </div>
    <p class="subtext">{{model.created | date : 'short'}}</p>
    <div class="gs-message-subcomments-list" ng-if="answers.list.length">
        <hr>
        <h2 translate="COMMENTS.ANSWERS"></h2>
        <div class="list-group">
            <div ng-repeat="answer in answers.list" class="list-group-item">
                <b class="gs-message-answer-user">{{getUserName(answer)}}</b>
                <b class="gs-message-answer-agreement">{{ 'COMMENTS.IS_' + (answer.isAgree ? 'AGREED' : 'DISAGREED') | translate }}</b>
                <small class="text-muted">{{answer.created | date: 'short'}}</small>
                <div ng-bind-html="answer.entry"></div>
            </div>
        </div>
    </div>
    <div ng-if="users.length != 0">
        <h2 translate="COMMENTS.TAGGED_USER"></h2>
        <p ng-repeat="item in users">
            {{ item.firstName }} {{ item.lastName }} ({{ item.email }})
        </p>
    </div>
</div>
<div class="modal-footer">
    <div class="gs-message-answer-form" ng-if="answers.state.adding">
        <h2 class="text-left">{{'COMMENTS.EXPLAIN_WHY_' + (answers.model.isAgree ? 'AGREE' : 'DISAGREE') | translate}}</h2>
        <div name="dataForm" class="row form text-left" ng-form="dataForm">
            <div class="form-group col-sm-8">
                <text-angular ng-model="answers.model.entry"></text-angular>
            </div>
            <div class="form-group col-sm-4">
                <label for="person" class="control-label" translate="COMMENTS.TAG_ANSWER"></label>
                <select id="person" ng-model="answers.model.tag" class="form-control" multiple
                        ng-options="tag as (tag.fullName || tag.title) for tag in answers.associate.tags"></select>
            </div>
        </div>
        <button class="btn btn-default" ng-click="answers.cancel()" translate="COMMON.CANCEL"></button>
        <button class="btn btn-primary" ng-click="answers.submit()" translate="COMMON.SUBMIT"></button>
    </div>
    <div ng-if="!answers.state.adding">
        <span ng-if="!view.options.isVersion && view.options.surveyVersion===model.surveyVersion">
        <span ng-if="user.isOwner" translate="COMMENTS.YOU_ARE_THE_OWNER"></span>
        <span ng-if="!user.isOwner && user.hasAnswered"
              translate="COMMENTS.YOU_ANSWERED_ALREADY"></span>
        </span>&nbsp;
        <button class="btn btn-primary"
                ng-if="!view.options.isVersion && view.options.surveyVersion===model.surveyVersion"
                ng-click="answers.add(true)"
                ng-disabled="user.isOwner || user.hasAnswered">{{'COMMON.AGREE'|translate}} ({{model.agree||0}})
        </button>
        <button class="btn btn-default"
                ng-if="!view.options.isVersion && view.options.surveyVersion===model.surveyVersion"
                ng-click="answers.add(false)"
                ng-disabled="user.isOwner || user.hasAnswered">{{'COMMON.DISAGREE'|translate}} ({{model.disagree||0}})
        </button>
        <button class="btn btn-default" ng-click="close()" translate="COMMON.CLOSE"></button>
    </div>
</div>
