<modal-form-header>
    <span ng-show="model">Edit</span>
    <span ng-hide="model">Add new</span> country
</modal-form-header>
<div class="modal-body">
    <div name="dataForm" class="form-horizontal" ng-form="dataForm">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Country name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" ng-model="model.name"
                       ng-required="true" ng-minlength="1" focus="true">

                <div class="text-center" ng-messages="dataForm.name.$error" role="alert"
                     ng-if="dataForm.name.$dirty">
                    <span ng-message="required, minlength" class="help-block">Country name is required.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="alpha2" class="col-sm-4 control-label">Alpha2</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="alpha2" id="alpha2" ng-model="model.alpha2"
                       ng-required="true" ng-minlength="1" focus="true">

                <div class="text-center" ng-messages="dataForm.alpha2.$error" role="alert"
                     ng-if="dataForm.alpha2.$dirty">
                            <span ng-message="required, minlength"
                                  class="help-block">Alpha2 country code is required.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="alpha3" class="col-sm-4 control-label">Alpha3</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="alpha3" id="alpha3" ng-model="model.alpha3"
                       ng-required="true" ng-minlength="1" focus="true">

                <div class="text-center" ng-messages="dataForm.alpha3.$error" role="alert"
                     ng-if="dataForm.alpha3.$dirty">
                            <span ng-message="required, minlength"
                                  class="help-block">Alpha3 country code is required.</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="nbr" class="col-sm-4 control-label">Numeric code</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="nbr" id="nbr" ng-model="model.nbr"
                       ng-required="true" ng-minlength="1" focus="true">

                <div class="text-center" ng-messages="dataForm.nbr.$error" role="alert"
                     ng-if="dataForm.nbr.$dirty">
                            <span ng-message="required, minlength"
                                  class="help-block">Numeric country code is required.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-form-footer"></div>
