<modal-form-header>
    <span translate="PRODUCTS.INDEXES.FORM.MODAL_TITLE" translate-values="{index:model.index}" ng-show="model.index.title"></span>
    <span translate="PRODUCTS.INDEXES.FORM.MODAL_TITLE_CREATE" ng-hide="model.index.title"></span>
</modal-form-header>
<div class="modal-body">
    <div class="row">
        <div class="form-horizontal">

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label" translate="PRODUCTS.INDEXES.FORM.TITLE"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" id="title" ng-model="model.index.title">
                </div>
            </div>

            <div class="form-grop">
                <label for="weights" class="col-sm-2 control-label" translate="PRODUCTS.INDEXES.FORM.WEIGHTS_LABEL"></label>
                <div class="col-sm-9">
                    <widget-table model="model.weightsTable" id="weights"></widget-table>
                </div>
            </div>

            <div class="form-group">
                <label for="divisor" class="col-sm-2 control-label" translate="PRODUCTS.INDEXES.FORM.DIVISOR"></label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" name="divisor" id="divisor" ng-model="model.index.divisor">
                    <div ng-show="model.weights.length">
                        <span translate="PRODUCTS.INDEXES.FORM.SUGGESTED_DIVISORS"></span>:
                        <a ng-click="model.index.divisor = 1">1</a> (<span translate="PRODUCTS.INDEXES.FORM.SUM_DIVISORS"></span>),
                        <a ng-click="model.index.divisor = model.weights.length">{{model.weights.length}}</a> (<span translate="PRODUCTS.INDEXES.FORM.AVG_DIVISORS"></span>)
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate="COMMON.CANCEL"></button>
    <button class="btn btn-success" ng-click="save()" ng-disabled="!model.index.title || !model.index.divisor" translate="COMMON.SAVE"></button>
</div>
