<modal-form-header>
    <span ng-show="model.id">{{(view.formEditHeaderPrefix||'COMMON.EDIT') |translate}}</span>
    <span ng-hide="model.id">{{(view.formAddHeaderPrefix||'COMMON.CREATE')|translate}}</span>
    <span class="text-lowercase">{{view.formTitle|translate}}</span>
</modal-form-header>
<div class="modal-body">
    <div class="modal-form">
        <div class="form-horizontal" name="dataForm" ng-form="dataForm">
            <div class="form-group"
                 ng-if="showItem(item, model)"
                 modal-form-rec="model"
                 modal-form-field="item"
                 modal-form-field-model="model[item.field]"
                 ng-repeat="item in view.cols | orderBy: 'formPosition' track by $index"
                 ng-show="!item.dataReadOnly || item.dataReadOnly ==='edit' && !model.id || model.id"
                ></div>
        </div>
        <div ng-if="view.warning = view.formWarning(model)" class="alert alert-warning">
            {{view.warning|translate}}
        </div>
        <div ng-if="error" class="alert alert-danger">
            {{error|translate}}
        </div>
    </div>
</div>
<div class="modal-form-footer"></div>
