<modal-form-header>
    <span translate="{{view.formTitle}}"></span> <small translate="COMMON.INFO"></small>
</modal-form-header>
<div class="modal-body">
    <div class="modal-form">
        <div class="form-horizontal form-condensed" name="dataForm" ng-form="dataForm">
            <div class="form-group"
                 ng-if="showItem(item, model)"
                 modal-form-rec="model"
                 modal-form-field="item"
                 modal-form-field-model="model[item.field]"
                 ng-repeat="item in view.cols"
                ></div>
        </div>
        <div ng-if="view.warning = view.formWarning(model)" class="alert alert-warning">
            {{view.warning}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate="COMMON.CLOSE"></button>
</div>
