<modal-form-header>
    <span ng-show="model.id">{{(view.formEditHeaderPrefix||'COMMON.EDIT') |translate}}</span>
    <span ng-hide="model.id">{{(view.formAddHeaderPrefix||'COMMON.CREATE')|translate}}</span>
    <span class="text-lowercase">{{view.formTitle}}</span>
</modal-form-header>
<div class="modal-body">
    <div class="row modal-form">
        <div class="form-horizontal" name="dataForm" ng-form="dataForm">
            <div class="form-group"
                 modal-form-rec="model"
                 modal-form-field="item"
                 modal-form-field-model="model[item.field]"
                 ng-repeat="item in view.cols"
                 ng-show="!item.dataReadOnly || item.dataReadOnly ==='edit' && !model.id || model.id"
                ></div>
        </div>
    </div>
</div>
<div class="modal-form-footer"></div>
