<div class="modal-header">
    <button class="close" ng-click="close()" aria-label="Close" data-dismiss="modal" type="button"><span>×</span>
    </button>
    <h3 class="modal-title"><span ng-show="model.id">Edit</span><span ng-hide="model.id">Add</span> <span
        class="text-lowercase">{{view.formTitle}}</span></h3>
</div>
<div class="modal-body">
    <div class="row modal-form">
        <div class="form-horizontal" name="dataForm" ng-form="dataForm">
            <div class="form-group"
                 modal-form-rec-id="model.id"
                 modal-form-field="item"
                 modal-form-field-model="model[item.field]"
                 ng-repeat="item in view.cols"
                 ng-show="!item.dataReadOnly || item.dataReadOnly ==='edit' && !model.id || model.id"
                ></div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
