<form style="padding: 0 15px;" translate-namespace="PRODUCTS.WORKFLOW.STEPS">
    <div class="row">
        <div class="col-md-3 form-group">
            <label translate="{{ext.formFields.title.title}}"></label>
            <span modal-form-rec="row"
                    modal-form-field="ext.formFields.title" embedded="true"
                    modal-form-field-model="row.title">
            </span>
        </div>
        <div class="col-md-3">
            <label translate="{{ext.formFields.role.title}}"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.role" embedded="true"
                  modal-form-field-model="row.role">
            </span>
        </div>
        <div class="col-md-3">
            <label translate="{{ext.formFields.startDate.title}}"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.startDate" embedded="true"
                  modal-form-field-model="row.startDate">
            </span>
        </div>
        <div class="col-md-3">
            <label translate="{{ext.formFields.endDate.title}}"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.endDate" embedded="true"
                  modal-form-field-model="row.endDate">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label translate=".GROUPS"></label>
            <div ng-if="!row.groups.length">
                <i class="text-warning" translate=".NO_GROUPS"></i>
            </div>
            <div ng-repeat="group in row.groups track by $index">{{group.name}} <a ng-click="ext.stepRemoveGroup(row, $index)" class="text-danger">&times;</a></div>
            <div><span ng-hide="ext.noFreeGroups(row)" hidden-select="{data:ext.getGroups, model:row, onChange:ext.stepAddGroup, disableItem:ext.disableGroup, hideDisabled: true}">
                <a><i class="fa fa-plus"></i> <span translate=".ADD_GROUP"></span></a>
            </span></div>

        </div>
        <div class="col-md-3">
            <label translate="{{ext.formFields.writeToAnswers.title}}"></label>
            <div class="radio"><label><input type="radio" name="writeToAnswers"
                                             ng-checked="!row.writeToAnswers"
                                             ng-model="row.writeToAnswers"
                                             ng-value="false">
                <i class="chk-box"></i><span translate=".WRITE_ACCESS_READ"></span></label>
            </div>
            <div class="radio"><label><input type="radio" name="writeToAnswers"
                                             ng-model="row.writeToAnswers"
                                             ng-value="true">
                <i class="chk-box"></i><span translate=".WRITE_ACCESS_WRITE"></span></label>
            </div>
        </div>
        <div class="col-md-3">
            <label translate=".PERMISSIONS"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.discussionParticipation" embedded="true"
                  modal-form-field-model="row.discussionParticipation">
            </span>

            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.provideResponses" embedded="true"
                  modal-form-field-model="row.provideResponses">
            </span>

            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.seeOthersResponses" embedded="true"
                  modal-form-field-model="row.seeOthersResponses">
            </span>
        </div>
        <div class="col-md-3">
            <br>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.editTranslate" embedded="true"
                  modal-form-field-model="row.editTranslate">
            </span>

            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.blindReview" embedded="true"
                  modal-form-field-model="row.blindReview">
            </span>

        </div>
    </div>
</form>
