<div translate-namespace="PRODUCTS.WORKFLOW.STEPS">
    <div class="col-md-6">
        <label translate=".TASK_PERMISSIONS"></label>
        <div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="row.taskAccessToResponses"/>
                        <i class="chk-box"></i>
                        <span translate=".RESPONSES_ACCESS"></span>
                    </label>
                </div>
                &nbsp;&nbsp;
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="row.taskAccessToDiscussions"/>
                        <i class="chk-box"></i>
                        <span translate=".DISCUSSIONS_ACCESS"></span>
                    </label>
                </div>
                &nbsp;&nbsp;
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="row.taskBlindReview" />
                        <i class="chk-box"></i>
                        <span translate=".BLIND_REVIEW"></span>
                    </label>
                </div>

        </div>
    </div>
    <div class="col-md-6">
        <label translate=".WORKFLOW_PERMISSIONS"></label>
        <div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="row.workflowAccessToResponses"/>
                    <i class="chk-box"></i>
                    <span translate=".RESPONSES_ACCESS"></span>
                </label>
            </div>
            &nbsp;&nbsp;
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="row.workflowAccessToDiscussions"/>
                    <i class="chk-box"></i>
                    <span translate=".DISCUSSIONS_ACCESS"></span>
                </label>
            </div>
            &nbsp;&nbsp;
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="row.workflowBlindReview" />
                    <i class="chk-box"></i>
                    <span translate=".BLIND_REVIEW"></span>
                </label>
            </div>

        </div>
    </div>
    <p class="clearfix"></p>
</div>
