<form style="padding: 0 15px;" translate-namespace="PRODUCTS.WORKFLOW.STEPS">
    <div class="row">
        <div class="col-md-{{ ext.dataFilter.product.id ? 3 : 6 }} form-group">
            <label translate="{{ext.formFields.title.title}}"></label>
            <span modal-form-rec="row"
                    modal-form-field="ext.formFields.title" embedded="true"
                    modal-form-field-model="row.title">
            </span>
        </div>
        <div class="col-md-{{ ext.dataFilter.product.id ? 3 : 6 }}">
            <label translate="{{ext.formFields.role.title}}"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.role" embedded="true"
                  modal-form-field-model="row.role">
            </span>
        </div>
        <div class="col-md-3" ng-if="ext.dataFilter.product.id">
            <label translate="{{ext.formFields.startDate.title}}"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.startDate" embedded="true"
                  modal-form-field-model="row.startDate">
            </span>
        </div>
        <div class="col-md-3" ng-if="ext.dataFilter.product.id">
            <label translate="{{ext.formFields.endDate.title}}"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.endDate" embedded="true"
                  modal-form-field-model="row.endDate">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label translate=".GROUPS"></label>
            <div ng-if="!row.groups.length">
                <i class="text-warning" translate=".NO_GROUPS"></i>
            </div>
            <div ng-repeat="group in row.groups track by $index">
                {{group.title}}
                <a ng-click="ext.stepRemoveGroup(row.groups, $index)" class="text-danger">&times;</a>
            </div>
            <div ng-hide="ext.noFreeGroups(row.groups)">
                <a><i class="fa fa-plus"></i> <span translate=".ADD_GROUP"></span></a>
                <select hidden-select
                        ng-model="ext.selectedGroup"
                        ng-options="group as group.title for group in ext.getFreeGroups(row.groups) track by group.id"
                        ng-change="ext.stepAddGroup(row.groups, ext.selectedGroup)">
                    <option value="" hidden></option>
                </select>
            </div>

        </div>
        <div class="col-md-4">
            <label translate="{{ext.formFields.writeToAnswers.title}}"></label>
            <div class="radio"><label><input type="radio" name="surveyAccess"
                                             ng-model="row.surveyAccess"
                                             ng-value="'writeToAnswers'">
                <i class="chk-box"></i><span translate=".WRITE_ACCESS_WRITE"></span></label>
            </div>
            <div class="radio"><label><input type="radio" name="row.surveyAccess"
                                             ng-model="row.surveyAccess"
                                             ng-value="'noWriteToAnswers'">
                <i class="chk-box"></i><span translate=".WRITE_ACCESS_READ"></span></label>
            </div>
            <div class="radio"><label><input type="radio" name="surveyAccess"
                                             ng-model="row.surveyAccess"
                                             ng-value="'provideResponses'">
                <i class="chk-box"></i><span translate=".PROVIDE_RESPONSES"></span></label>
            </div>
            <div class="radio"><label><input type="radio" name="surveyAccess"
                                             ng-model="row.surveyAccess"
                                             ng-value="'allowEdit'">
                <i class="chk-box"></i><span translate=".ALLOW_EDIT"></span></label>
            </div>
            <div class="radio"><label><input type="radio" name="surveyAccess"
                                             ng-model="row.surveyAccess"
                                             ng-value="'allowTranslate'">
                <i class="chk-box"></i><span translate=".ALLOW_TRANSLATE"></span></label>
            </div>
        </div>
        <div class="col-md-4">
            <label translate=".PERMISSIONS"></label>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.discussionParticipation" embedded="true"
                  modal-form-field-model="row.discussionParticipation">
            </span>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.seeOthersResponses" embedded="true"
                  modal-form-field-model="row.seeOthersResponses">
            </span>
            <span modal-form-rec="row"
                  modal-form-field="ext.formFields.blindReview" embedded="true"
                  modal-form-field-model="row.blindReview">
            </span>

        </div>
    </div>
</form>
