<modal-form-header>
    <span ng-if="!modalData.title" translate="PRODUCTS.WORKFLOW.STEPS_FOR" translate-values="{product:model.product.title}"></span>
    <span ng-if="modalData.title">{{modalData.title | translate}}</span>
</modal-form-header>
<div class="modal-body" translate-namespace="PRODUCTS.WORKFLOW">
    <div class="form-inline well well-sm" ng-if="!tplEdit">
        <div class="form-group" style="padding-top: 8px">
            <label translate=".WORKFLOW_TEMPLATES"></label>:
        </div>
        <div class="pull-right">
            <span ng-show="model.templateSaved" translate=".WORKFLOW_TEMPLATE_SAVED"></span>
            <div class="form-group">
                <select class="form-control" ng-model="model.selectedTemplate" ng-options="tpl as tpl.workflow.name for tpl in model.workflowTemplates">
                    <option value="" translate=".LOAD_FROM_WORKFLOW_TEMPLATE"></option>
                </select>
            </div>
            &nbsp;
            <div class="form-group">
                <a class="btn btn-default" ng-disabled="!model.selectedTemplate" ng-click="applyWorkflowTemplate()" translate="COMMON.APPLY"></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <form name="ctrl.dataForm" class="form">
        <div class="form-group">
            <label translate=".TITLE"></label>

            <div>
                <input type="text" class="form-control" name="name" id="name"
                       ng-model="model.product.workflow.name"
                       ng-required="true" ng-minlength="1">

                <div class="text-center" ng-messages="ctrl.dataForm.name.$error" role="alert">
                    <span ng-message="required, minlength"
                          ng-if="ctrl.dataForm.name.$dirty"
                          class="help-block"><span translate=".TITLE_REQUIRED"></span></span>
                    <span ng-message="unique" class="help-block"><span translate=".TITLE_IN_USE"></span></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label translate=".DESCRIPTION"></label>

            <div>
                <textarea type="text" class="form-control" name="description" id="description"
                          ng-model="model.product.workflow.description"
                          ng-required="true" ng-minlength="1"></textarea>

                <div class="text-center" ng-messages="ctrl.dataForm.description.$error" role="alert">
                    <span ng-message="required, minlength"
                          ng-if="ctrl.dataForm.description.$dirty"
                          class="help-block"><span translate=".DESCRIPTION_REQUIRED"></span></span>
                </div>
            </div>
        </div>
    </form>

    <widget-table model="model.productWorkflow"></widget-table>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate="COMMON.CANCEL"></button>
    <button class="btn btn-primary" ng-disabled="ctrl.dataForm.$invalid || !validWorkflowSteps()"
            ng-click="save()">{{ tplEdit ? 'COMMON.SAVE' : 'COMMON.SAVE_AND_CONTINUE' | translate }}</button>
</div>

