<div class="modal-header">
    <button class="close" ng-click="close()" aria-label="Close" data-dismiss="modal" type="button"><span>×</span>
    </button>
    <h3 class="modal-title"><span ng-show="model.id">Edit</span><span ng-hide="model.id">Add</span> project</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div name="dataForm" class="form-horizontal" ng-form="dataForm">
            <div class="form-group" ng-show="model.id">
                <label class="col-sm-3 control-label">ID:</label>

                <div class="col-sm-9"><p class="form-control-static">{{model.id}}</p></div>
            </div>
            <div class="form-group" ng-show="model.id">
                <label for="created" class="col-sm-3 control-label">Created:</label>
                <div class="col-sm-9"><p id="created" class="form-control-static">{{model.created | date : 'short'}}</p></div>
            </div>
            <div class="form-group">
                <label for="orgId" class="col-sm-3 control-label">Organization:</label>

                <div class="col-sm-9">
                    <select class="form-control"
                            id="orgId" name="orgId"
                            ng-options="item.id as item.name for item in view.orgs"
                            ng-model="model.organizationId"
                            ng-required="false"></select>

                </div>
            </div>
            <div class="form-group">
                <label for="admin" class="col-sm-3 control-label">Admin:</label>

                <div class="col-sm-9">
                    <select class="form-control"
                            id="admin" name="admin"
                            ng-options="item.id as item.email for item in view.users"
                            ng-model="model.adminUserId"
                            ng-required="false"></select>

                </div>
            </div>
            <div class="form-group">
                <label for="codeName" class="col-sm-3 control-label">Code name:</label>

                <div class="col-sm-9">
                    <input type="text" id="codeName" name="codeName" class="form-control" ng-model="model.codeName"/>
                </div>
            </div>
            <div class="form-group">
                <label for="descr" class="col-sm-3 control-label">Description:</label>

                <div class="col-sm-9">
                    <textarea type="text" id="descr" name="descr" class="form-control"
                              ng-model="model.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="matrId" class="col-sm-3 control-label">Matrix:</label>

                <div class="col-sm-9">
                    <select class="form-control"
                            id="matrId" name="matrId"
                            ng-options="item.id as item.name for item in view.matrices"
                            ng-model="model.matrixId"
                            ng-required="false"></select>

                </div>
            </div>
            <div class="form-group">
                <label for="start" class="col-sm-3 control-label">Start time:</label>

                <div class="col-sm-9">
                    <select-date id="start" data-id="start" result="model.startTime"></select-date>
                </div>
            </div>
            <div class="form-group">
                <label for="close" class="col-sm-3 control-label">Close time:</label>

                <div class="col-sm-9">
                    <select-date id="close" data-id="close" result="model.closeTime"></select-date>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-3 control-label">State:</label>

                <div class="col-sm-9">
                    <select class="form-control"
                            id="status" name="status"
                            ng-options="item.id as item.name for item in view.states"
                            ng-model="model.status"
                            ng-required="false"></select>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
