<div class="modal-header">
    <button class="close" ng-click="close()" aria-label="Close" data-dismiss="modal" type="button"><span>×</span>
    </button>
    <h3 class="modal-title"><span ng-show="model.id">Edit</span><span ng-hide="model.id">Add</span> right</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div name="dataForm" class="form-horizontal" ng-form="dataForm">
            <div class="form-group" ng-show="model.id">
                <label class="col-sm-3 control-label">ID:</label>

                <div class="col-sm-9">
                    <div class="col-sm-9"><p class="form-control-static">{{model.id}}</p></div>
                </div>
            </div>
            <div class="form-group">
                <label for="action" class="col-sm-3 control-label">Action:</label>

                <div class="col-sm-9">
                    <input class="form-control" id="action" name="action" type="text" ng-required="true"
                           ng-minlength="1" ng-model="model.action"/>

                    <div class="text-center" ng-messages="dataForm.action.$error" role="alert"
                         ng-if="dataForm.action.$dirty">
                        <span ng-message="requred" class="help-block">Please enter action.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="entType" class="col-sm-3 control-label">Entry Type:</label>

                <div class="col-sm-9">
                    <select class="form-control"
                            id="entType" name="entType"
                            ng-options="item.id as item.name for item in view.entityTypes"
                            ng-model="model.essenceId"
                            ng-required="true"></select>

                </div>
            </div>
            <div class="form-group">
                <label for="descr" class="col-sm-3 control-label">Description:</label>

                <div class="col-sm-9">
                    <input class="form-control" id="descr" name="descr" type="text" ng-required="true" ng-minlength="1"
                           ng-model="model.description"/>

                    <div class="text-center" ng-messages="dataForm.descr.$error" role="alert"
                         ng-if="dataForm.descr.$dirty">
                        <span ng-message="requred" class="help-block">Please enter description.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
