<modal-form-header>
    <span translate="VERSIONS.SELECT" data-translate-values="model.survey"></span>
</modal-form-header>
<div class="modal-body">
    <label translate="VERSIONS.VERSIONS"></label>:
    <div class="list-group download-review-versions">
        <a class="list-group-item"
           ng-class="{'active': $index == model.selected}"
           ng-click="model.selected = $index"
           ng-repeat="version in model.versions track by $index">
            {{version.user.fullName}}'s <span translate="VERSIONS.REVIEW"></span>
            <span class="pull-right">{{version.created|date:'short'}}</span>
        </a>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="close()" translate="COMMON.CANCEL"></a>
    <a class="btn btn-primary"
       ng-disabled="model.selected<0"
       ng-click="select()" translate="COMMON.SELECT"></a>
</div>
