<modal-form-header>
    <span translate="VERSIONS.SELECT" data-translate-values="model.survey"></span>
</modal-form-header>
<div class="modal-body" translate-namespace="VERSIONS">
    <label translate=".VERSIONS"></label>:
    <div class="list-group download-review-versions">
        <a class="list-group-item"
           ng-class="{'active': $index == model.selected}"
           ng-click="model.selected = $index"
           ng-repeat="version in model.versions track by $index">
            {{version.creator.fullName}}'s <span translate=".REVIEW"></span>
            <span class="pull-right">{{version.created|date:'short'}}</span>
        </a>
    </div>
</div>
<div class="modal-footer" translate-namespace="COMMON">
    <a class="btn btn-default" ng-click="close()" translate=".CANCEL"></a>
    <a class="btn btn-primary" ng-if="model.mode===0"
       ng-disabled="model.selected<0"
       ng-href="{{model.downloadHref}}"
       target="_self"
       download="{{model.downloadFileName}}"
       ng-click="download($event)" translate="COMMON.DOWNLOAD"></a>
    <a class="btn btn-primary" ng-if="model.mode===1"
       ng-disabled="model.selected<0"
       ng-click="select()" translate=".SELECT"></a>
</div>
