<modal-form-header>
    <span translate="COMMON.SEND_MESSAGE"></span>
</modal-form-header>
<div class="modal-body" translate-namespace="SEND_MESSAGE_MODAL">
    <div class="form-group" ng-if="!model.users">
        <b ng-if="model.user.replyTo">{{model.user.replyTo}}</b>
        <b ng-if="!model.user.replyTo"><small>{{model.user.firstName}} {{model.user.lastName}} ({{model.user.email}})</small></b>
    </div>
    <div class="form-group" ng-if="model.users">
        <select ng-model="model.user" class="form-control" ng-options="user as getUserOption(user) for user in model.users">
            <option value="" disabled translate="MESSAGES.SELECT_USER"></option>
        </select>
    </div>
    <div class="form-group">
        <textarea class="form-control" ng-model="model.message" placeholder="{{'MESSAGES.YOUR_MESSAGE'|translate}}"></textarea>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()" translate="COMMON.CANCEL"></button>
    <button class="btn btn-success" ng-click="send()" ng-disabled="!validForm()" translate="COMMON.SEND"></button>
</div>
