<modal-form-header>
    Select Unit Of Analysis
</modal-form-header>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <widget-table model="model.uoaTypes"></widget-table>
        </div>
        <div class="col-md-4">
            <widget-table model="model.uoaClassTypes"></widget-table>
        </div>
        <div class="col-md-4">
            <widget-table model="model.uoaTags"></widget-table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <widget-table model="model.uoas"></widget-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-if="listMode" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="addSelectedUoas()" ng-disabled="!filterResult.length">Apply Selected</button>
</div>

