<div class="modal-header">
    <button class="close" ng-click="close()" aria-label="Close" data-dismiss="modal" type="button">
        <span>×</span>
    </button>
    <h4 class="modal-title"><span ng-show="model">Edit</span><span ng-hide="model">Add new</span> unit of analysis type</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div name="dataForm" class="form-horizontal" ng-form="dataForm">
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label">Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" id="name" ng-model="model.name"
                               ng-required="true" ng-minlength="1" focus="true">
                        <div class="text-center" ng-messages="dataForm.name.$error" role="alert"
                             ng-if="dataForm.name.$dirty">
                            <span ng-message="required, minlength" class="help-block">Name of `Unit of Analysis Type` is required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-4 control-label">Description:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="description" id="description" ng-model="model.description"
                               ng-required="false" ng-minlength="0" focus="true">
                        <div class="text-center" ng-messages="dataForm.description.$error" role="alert"
                             ng-if="dataForm.description.$dirty">
                            <span ng-message="required, minlength" class="help-block">Description of `Unit of Analysis Type` is required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="origLang" class="col-sm-4 control-label">Original language:</label>

                    <div class="col-sm-8">
                        <select ng-disabled="model.id" class="form-control"
                            id="origLang" name="origName"
                            ng-options="item.id as item.code for item in view.languages"
                            ng-model="model.langId"
                            ng-required="true">
                        </select>
                        <div class="text-center" ng-messages="dataForm.langId.$error" role="alert"
                             ng-if="dataForm.langId.$dirty">
                            <span ng-message="required, minlength" class="help-block">Original language is required.</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal-footer"></div>
