<modal-form-header>
    <span ng-show="model" translate="COMMON.EDIT"></span><span ng-hide="model" translate="COMMON.ADD"></span> <span translate="PROFILE.ORGANIZATION"></span>
</modal-form-header>
<div class="modal-body" translate-namespace="PROFILE">
    <div class="modal-form">
        <div name="dataForm" class="form-horizontal modal-form" ng-form="dataForm">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label" translate=".COMPANY_NAME"></label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" id="name" ng-model="model.name"
                           ng-required="true" ng-minlength="1">

                    <div class="text-center" ng-messages="dataForm.name.$error" role="alert"
                         ng-if="dataForm.name.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span translate=".COMPANY_NAME_ERROR"></span></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-sm-4 control-label" translate=".ADDRESS"></label>

                <div class="col-sm-8">
                        <textarea type="text" class="form-control" name="address" id="address" ng-model="model.address"
                                  ng-required="true" ng-minlength="1"></textarea>

                    <div class="text-center" ng-messages="dataForm.address.$error" role="alert"
                         ng-if="dataForm.address.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span translate=".ADDRESS_ERROR"></span></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="url" class="col-sm-4 control-label" translate=".URL"></label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="url" id="url" ng-model="model.url"
                           ng-required="true" ng-minlength="1">

                    <div class="text-center" ng-messages="dataForm.url.$error" role="alert"
                         ng-if="dataForm.url.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span translate=".URL_ERROR"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-form-footer"></div>
