<%#

%>

<p>Hello <%= to.firstName %> <%= to.lastName %>! </p>

<p>
    Date: <%= date.toLocaleString() %></br>
    <a href="<%= config.domain %>/#/policy/review/<%= survey.id %>/task/<%= task.id %>"><%= action %> in the <%= uoa.name %> policy for the <%= product.title %></a></br>
    Comment:</br>
    <%- body %>
</p>
<p>
    Organisation: <%= organization.name %></br>
    Project: <%= product.title %></br>
    Survey: <%= survey.title %></br>
    Subject: <%= uoa.name %></br>
    Task: <%= step.title %></br></br>
</p>
