<div id="page-wrapper" ng-class="{'open': model.toggle}" ng-cloak>
    <sidebar toggle="model.toggle" menu="model.menu"></sidebar>
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row header">
                <div class="user pull-right">
                    <div organization-selector></div>
                    <div class="item dropdown user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a> <span class="username">{{model.user.firstName}} {{model.user.lastName}}&nbsp;&ndash;&nbsp;</span>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">{{model.user.firstName}} {{model.user.lastName}} ({{model.user.roleName}})</li>
                            <li class="divider"></li>

                            <li class="link">
                                <a ui-sref="profile"><span class="fa fa-user"></span> <span translate="NAV.PROFILE"></span></a>
                            </li>

                            <li class="divider"></li>
                            <li class="link">
                                <a ng-click="logout()"><span class="fa fa-power-off"></span> <span translate="NAV.LOGOUT"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="item" user-notifications></div>
                    <!--<div language-selector class="item"></div>-->
                </div>
                <headerbar></headerbar>
            </div>
            <div ui-view="body"></div>
        </div>
    </div>
</div>
