.idea
*~
backend/node_modules_/pg/node_modules/
backend/node_modules_/
backend/node_modules/pg/build/Release/obj/binding/binding.tlog/link.command.1.tlog
backend/node_modules/
backend/.idea/
backend/db_dump/local/
npm-debug.log
