<%#

%>

<p>Hello <%= to.firstName %> <%= to.lastName %>! </p>

<p>
    Date: <%= date.toLocaleString() %></br>
    <a href="<%= config.indabaClientDomain %>/#/survey/<%= survey.id %>/task/<%= task.id %>"><%= action %> in the <%= uoa.name %> survey for the <%= product.title %></a></br>
    <%= from.firstName %> <%= from.lastName %> posted a discussion comment:</br>
    <%- body %>
</p>
<p>
    Organisation: <%= organization.name %></br>
    Project: <%= product.title %></br>
    Survey: <%= survey.name %></br>
    Subject: <%= uoa.name %></br>
    Task: <%= step.title %></br></br>
</p>
