<p>
	Hello <%= name %> <%= surname%>!
</p>

<p>
	<%= inviter.firstName %> <%= inviter.lastName %> has just invited you to create an Indaba account as a member of <%= company.name %>.
</p>

<p>
Please click <a href="<%= config.indabaDomain %>/activate/<%= company.realm %>/<%= token %>">here</a> to activate your account.
</p>
<p>
However, if you already have an account with Amida, you can simply login <a href="<%= config.indabaDomain %>/login/">here</a>.
</p>
<p>
    Thank you!</br>
    -Indaba
</p>
