<%#

%>

<p>Hello <%= to.firstName %> <%= to.lastName %>! </p>

<p>
    Date: <%= date.toLocaleString() %></br>
    <a href="<%= config.indabaClientDomain %>/#/survey/<%= survey.id %>/task/<%= task.id %>">You have <%= flags.count %> flags requiring resolution in the <%= uoa.name %> survey for the <%= product.title %></a>
</p>
<p>
    Organisation: <%= organization.name %></br>
    Project: <%= product.title %></br>
    Survey: <%= survey.title %></br>
    Subject: <%= uoa.name %></br>
    Task: <%= step.title %></br></br>
</p>
