<% layout('layout') -%>

<div class="">
    <h2>Recovery</h2>
    <ul>
        <li>link - <a href="http://localhost:3001/api/v0.1/users/recovery/<%=code%>">
                http://localhost:3001/api/v0.1/users/recovery/<%=code%>
            </a>
        </li>
    </ul>
</div>
