<div ng-controller="MyTasksWidget">

    <div class="cards" minigrid minigrid-collection="model.tasks">
        <div class="card" ng-repeat="task in model.tasks">
            <p><i class="fa fa-flag text-danger pull-right" ng-if="task.flagged"></i> {{task.step.title}}</p>
            <p>
                <a ui-sref="survey({surveyId:task.survey.id, taskId:task.id})" ng-hide="task.policyId">
                    {{task.survey.title}}
                </a>
                <a ui-sref="policy.review({id:task.survey.id, taskId:task.id})" ng-show="task.policyId">
                    {{task.survey.title}}
                </a>
            </p>
            <p>
                {{(task.startDate||task.step.startDate)|parseDate|date:'shortDate'}}
                 -
                {{(task.endDate||task.step.endDate)|parseDate|date:'shortDate'}}
            </p>
        </div>
    </div>

    <rd-loading ng-if="!model.tasks"></rd-loading>

    <div ng-if="model.tasks && !model.tasks.length" class="alert alert-warning">
        {{'MY_TASKS.NO_TASKS'|translate}}
    </div>
</div>
