<div ng-controller="PmProjectsWidgetCtrl" translate-namespace="PM_PROJECTS">
    <div class="list-group">
        <a ui-sref="pmProductDashboard({productId:product.id})" class="list-group-item action-primary" ng-repeat="product in model.products">
            <i class="fa fa-{{product.policy ? 'file' : 'list'}}"></i>
            {{product.title}}
            <span class="text-muted" ng-if="(product.survey)">({{product.survey.title}})</span>
        </a>
        <div ng-if="model.products && !model.products.length" class="alert alert-warning" translate=".NO_PRODUCTS"></div>
    </div>
    <rd-loading ng-if="!model.products"></rd-loading>
</div>
