<uib-accordion>
    <uib-accordion-group is-open="model.sectionOpen">
        <uib-accordion-heading>
            <span translate="{{model.label}}"></span><i class="fa pull-right" ng-class="{'fa-caret-up': model.sectionOpen,
                'fa-caret-down': !model.sectionOpen}"></i></uib-accordion-heading>
        <div gs-context-menu="contextMenu" qid="{{model.qid}}" class="gs-contextmenu-wrapper dropdown">
            <text-angular id="{{model.qid}}" ng-model="model.description" ng-if="!options.readonly" class="line-numbers"></text-angular>
            <div id="{{model.qid}}" class="line-numbers section-text ta-text" ng-if="options.readonly"
                 ng-bind-html="getHtml(model.description)"></div>
        </div>
    </uib-accordion-group>
</uib-accordion>
