<div id="graphbuilder"></div>
<div class="form-group">

        <label for="survey">Select survey (not functional)</label>
        <select id="survey" class="form-control">
            <option ng-repeat="survey in surveys">{{ survey.id }}</option>
        </select>
        
        <label for="graphType">Select graph type</label>
        <select id="graphType" class="form-control" ng-model="graphType">
            <option value="bar">Bar</option>
            <option value="line">Line</option>
        </select>
        
        <div id="viz"></div>
        
        <button class="btn btn-success" ng-click="drawGraph(graphType)">Graph</button>

</div>
