<div class="gs-links">
    <p>
        <span translate="SURVEYS.LINKS"></span>
        <a class="action action-primary" ng-click="addToggle()"
           title="{{'COMMON.ADD' | translate}}"
           ng-hide="options.readonly">
            <i class="fa fa-plus"></i>
        </a>
    </p>

    <div class="row" ng-show="adding && !options.readonly">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newUrl" name="newUrl">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" translate="COMMON.ADD" ng-click="add()"></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="gs-link-wrapper" ng-repeat="item in model">
            <div><a href="{{item}}" target="_blank">{{item}}</a></div>
            <i class="fa fa-trash action-danger" ng-click="remove($index)" ng-hide="options.readonly"></i>
        </span>
    </div>
</div>
