<span class="gs-message-from">
    {{getUserName()}}
    <i class="fa fa-flag pull-right" ng-show="model.isReturn"
       ng-class="{'text-success':model.isResolve, 'text-danger':!model.isResolve}"></i>
</span>
<div class="gs-message-body">
    <span ng-hide="isEdit">{{model.entry}}</span>
    <textarea ng-show="isEdit" ng-model="entry" class="form-control"></textarea>
    <div class="text-right" ng-hide="model.activated">
        <a ng-click="remove()" ng-hide="isEdit"><i class="fa fa-trash action-danger"></i></a>
        <a ng-click="edit()" ng-hide="isEdit"><i class="fa fa-pencil"></i></a>
        <a ng-click="cancel()" ng-show="isEdit"><i class="fa fa-times action-secondary"></i></a>
        <a ng-click="apply()" ng-show="isEdit"><i class="fa fa-check"></i></a>
    </div>
</div>
<p class="subtext">{{model.created | date}}</p>
