<span class="gs-message-from">
    {{getUserName()}}
    <i class="fa fa-flag pull-right" ng-show="model.isReturn"
       ng-class="{'text-success':model.isResolve, 'text-danger':!model.isResolve}"></i>
</span>
<div class="gs-message-body-warpper">
    <div class="gs-message-body" ng-hide="isEdit">
        <div class="ta-text" ng-bind-html="model.entry"></div>
        <div class="gs-message-fader"></div>
    </div>
    <textarea ng-show="isEdit" ng-model="entry" class="form-control"></textarea>
    <a ng-click="fullview()" class="pull-right gs-message-full-view">
        <small>+{{model.agree||0}}/-{{model.disagree||0}}</small>
        <i class="fa fa-comments-o"></i>
    </a>
    <div class="text-left gs-message-actions" ng-hide="model.activated">
        <a ng-click="remove()" ng-hide="isEdit"><i class="fa fa-trash action-danger"></i></a>
        <a ng-click="edit()" ng-hide="isEdit"><i class="fa fa-pencil"></i></a>
        <a ng-click="cancel()" ng-show="isEdit"><i class="fa fa-times action-secondary"></i></a>
        <a ng-click="apply()" ng-show="isEdit"><i class="fa fa-check"></i></a>
    </div>
</div>
<p class="subtext">{{model.created | date : 'short'}}</p>
