<div class="language-selector dropdown">
    <span class="dropdown-toggle" data-toggle="dropdown" title="{{selected.label}} ({{selected.tooltip}})"><span class="locale">{{selected.locale}}</span> <span class="fa fa-caret-down"></span></span>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="link" ng-repeat="lang in languages">
            <a href ng-click="changeLanguage(lang.locale)" title="{{lang.tooltip}}"><span class="locale">{{lang.locale}}</span> {{lang.label}}</a>
        </li>
    </ul>
</div>
