<div class="panel panel-default">
    <div class="panel-body">
        <form name="loginForm" class="form-horizontal">
            <div class="form-group">
                <label for="login" class="col-sm-4 control-label" translate="LOGIN.EMAIL"></label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="login" id="login" ng-model="model.login"
                           ng-required="true" ng-minlength="1">

                    <div class="text-center" ng-messages="loginForm.login.$error" role="alert"
                         ng-if="loginForm.login.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span translate="LOGIN.LOGIN_REQUIRED"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label" translate="LOGIN.PASSWORD"></label>

                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" id="password"
                           ng-model="model.password"
                           ng-required="true" ng-minlength="1">

                    <div class="text-center" ng-messages="loginForm.password.$error" role="alert"
                         ng-if="loginForm.password.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span translate="LOGIN.PASSWORD_REQUIRED"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="model.orgs.length > 0">
                <label for="org" class="col-sm-4 control-label" translate="COMMON.ORGANIZATION"></label>

                <div class="col-sm-8">
                    <select id="org" ng-required="model.orgs.length > 0" name="org" class="form-control"
                            ng-options="org.realm as org.orgName for org in model.orgs" ng-change="updateOrg()"
                            ng-model="model.realm"></select>

                    <div class="text-center" ng-messages="loginForm.org.$error" role="alert"
                         ng-if="loginForm.org.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span translate="LOGIN.ORGANIZATION_REQUIRED"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-sm-3 col-sm-offset-2">
                    <button id="main-login-btn" type="submit" class="btn btn-primary"
                            ng-click="submitLogin()"
                            ng-disabled="loginForm.$invalid" translate="LOGIN.SIGN_IN">
                    </button>
                </div>
                <div class="col-sm-5">
                    <button id="restore-btn" class="btn btn-default" ui-sref="forgot">
                        {{'LOGIN.FORGOT_PASSWORD'|translate}}
                    </button>
                </div>
            </div>
            <div ng-if="model.error" class="text-center text-danger"><i class="fa fa-exclamation-circle"></i>
                {{model.error|translate}}
            </div>
        </form>
    </div>
</div>
