<div class="policy-review">
    <div class="form-horizontal">
        <div class="form-group" ng-show="policyData.id">
            <label class="col-sm-4 control-label">{{'COMMON.ID' | translate}}:</label>
            <p class="col-sm-8 form-control-static">{{policyData.id}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.TITLE"></label>
            <p class="col-sm-8 form-control-static">{{policyData.title}}</p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.SECTION"></label>

            <div class="col-sm-8">
                <p class="form-control-static">{{policyData.section}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.SUBSECTION"></label>

            <div class="col-sm-8">
                <p class="form-control-static">{{policyData.subsection}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.NUMBER"></label>

            <div class="col-sm-8">
                <p class="form-control-static">{{policyData.number}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.AUTHOR"></label>

            <div class="col-sm-8">
                <p class="form-control-static">{{policyData.authorName}}</p>
            </div>
        </div>
    </div>
    <div class="policy-sections" ng-show="policyData.id">
        <fb-policy ng-model="item" ng-repeat="item in policyData.sections"></fb-policy>
        <attachments model="policyData.attachments" item-id="{{policyData.id}}"
                     essence-id="{{policyData.essenceId}}"></attachments>
    </div>
</div>
