<div>
    <div ng-if="isAdmin() && model.items.length > 0">
        <a ng-click="hideComments('all');">
            <i class="fa fa-eye-slash"></i> <span translate="COMMENTS.HIDE_ALL"></span>
        </a><br />
        <a ng-click="hideComments('flagged');">
            <i class="fa fa-eye-slash"></i> <span translate="COMMENTS.HIDE_ALL_FLAGGED"></span>
        </a>
    </div>
    <div gs-message="msg"
         associate="model.associate"
         options="policy.options"
         remove="removeComment(msg)"
         edit="editComment(msg)"
         ng-repeat="msg in model.items | filter:isVisible"></div>
    <p class="text-center" translate="COMMENTS.NO_MESSAGES" ng-hide="model.items.length > 0"></p>
</div>
