<div>
    <uib-accordion ng-show="model.questions.length > 0">
        <uib-accordion-group is-open="item.isOpen" ng-repeat="item in model.questions"
                             is-disabled="item.messages.length<1">
            <uib-accordion-heading>
                {{discuss.title}}
                <i class="fa pull-right" ng-class="{'fa-caret-up': discuss.isOpen, 'fa-caret-down': !discuss.isOpen}"></i>
            </uib-accordion-heading>
            <div class="gs-message" gs-message="msg" associate="model.associate" ng-repeat="msg in discuss.items"
            remove="removeMsg(msg)" update="updateMsg(msg)"></div>
        </uib-accordion-group>
    </uib-accordion>
</div>
