<div class="policy" ng-class="{'policy-review':policyData.options.readonly}">
    <div class="policy-head form-horizontal">
        <div search-panel search-selector="policyData.options.readonly ? '.section-text' :  '[ta-bind]'"></div>

        <div class="form-group">
            <label for="title" class="col-sm-4 control-label required" translate="POLICY.TITLE"></label>
            <div class="col-sm-8">
                <p class="form-control-static" ng-show="policyData.options.readonly">{{policyData.title}}</p>
                <input type="text" class="form-control" ng-required="true" name="title" id="title" ng-model="policyData.title"
                       ng-hide="policyData.options.readonly"/>
            </div>
        </div>
        <div class="form-group">
            <label for="section" class="col-sm-4 control-label" translate="POLICY.SECTION"></label>

            <div class="col-sm-8">
                <p class="form-control-static" ng-show="policyData.options.readonly">{{policyData.section}}</p>
                <input type="text" class="form-control" name="section" id="section" ng-model="policyData.section"
                       ng-hide="policyData.options.readonly"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.SUBSECTION"></label>

            <div class="col-sm-8">
                <p class="form-control-static" ng-show="policyData.options.readonly">{{policyData.subsection}}</p>
                <input type="text" class="form-control" name="subsection" id="subsection"
                       ng-model="policyData.subsection" ng-hide="policyData.options.readonly"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.NUMBER"></label>

            <div class="col-sm-8">
                <p class="form-control-static" ng-show="policyData.options.readonly">{{policyData.number}}</p>
                <input type="text" class="form-control" name="number" id="number" ng-model="policyData.number"
                       ng-hide="policyData.options.readonly"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" translate="POLICY.AUTHOR"></label>

            <div class="col-sm-8">
                <p class="form-control-static">{{policyData.authorName}}</p>
            </div>
        </div>
    </div>
    <div class="policy-sections">
        <div class="policy-upload row" ng-hide="policyData.options.readonly || !policyData.options.canImport">
            <div class="col-sm-12">
                <label translate="POLICY.TEXT"></label>
                <p class="subtext" translate="POLICY.UPLOAD_TEXT"></p>
                <form ng-show="!uploader.progress" class="row" name="{{formName}}">
                    <input type="file" class="form-control input-file" name="file" nv-file-select uploader="uploader"
                    ng-class="{error: model.error}">
                </form>
                <div class="progress" ng-if="uploader.progress">
                    <div class="progress-bar" role="progressbar" ng-style="{width: uploader.progress + '%'}"></div>
                </div>
                <div class="text-center subtext error" role="alert" ng-if="model.error">
                    <span translate="{{model.error.msg}}"></span>
                </div>
            </div>
        </div>
        <fb-policy ng-model="item" ng-repeat="item in policyData.sections" options="policyData.options" associate="policyData.associate"
		           author="policyData.author"></fb-policy>
        <attachments field="policyData" options="policyData.options"></attachments>
    </div>
</div>
