<div class="panel panel-default">
    <div class="panel-body">
        <form name="remindForm" class="form-horizontal">
            <div class="form-group">
                <label for="login" class="col-sm-4 control-label">{{model.login.label|translate}}</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="login" id="login" ng-model="model.login.value"
                           ng-required="true" ng-minlength="1">

                    <div class="text-center" ng-messages="remindForm.login.$error" role="alert"
                         ng-if="remindForm.login.$dirty">
                        <span ng-message="required, minlength" class="help-block"><span
                            translate="LOGIN.LOGIN_REQUIRED"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="model.success">
                <div class="col-sm-12">
                    <p class="form-control-static">{{model.success|translate}}</p>

                    <p class="text-right">Go to <a ui-sref="login">login</a> page.</p>
                </div>
            </div>
            <div class="form-group form-inline" ng-hide="model.success">
                <div class="col-sm-12 text-right">
                    <button id="main-login-btn" type="submit" class="btn btn-primary"
                            ng-click="remind()"
                            ng-disabled="remindForm.$invalid">{{'COMMON.REMIND'|translate}}
                    </button>
                </div>
            </div>
            <div ng-if="model.error" class="text-center text-danger"><i class="fa fa-exclamation-circle"></i>
                {{model.error|translate}}
            </div>
        </form>
    </div>
</div>
