<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                Dashboard
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
            <a href="#">Your Content <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/tables">All Content <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/tables">Queue <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="main.clients">Clents <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="main.countries">Countries <span class="menu-icon fa fa-table"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
    </div>
</div>
<!-- End Sidebar -->
