<!-- Sidebar -->
<div id="sidebar-wrapper" ng-show="menu.title">
    <ul class="sidebar">
        <li class="sidebar-main text-capitalize">
            <a ng-click="toggleSidebar()">{{menu.title}} <span
                class="menu-icon glyphicon glyphicon-transfer"></span></a>
        </li>
        <li class="sidebar-title" ng-repeat-start="group in menu.groups">
            <span class="text-uppercase">{{group.title|translate}}</span>
        </li>
        <li class="sidebar-list" ng-repeat-end ng-repeat="item in group.items">
            <a ui-sref="{{item.sref}}">{{item.title|translate}} <span class="menu-icon fa {{item.icon}}"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="survey">Surveys <span class="menu-icon fa fa-list"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="visualization">Visualizations <span class="menu-icon fa fa-globe"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="graph">Graphs <span class="menu-icon fa fa-bar-chart"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="table">Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer"></div>
</div>
<!-- End Sidebar -->
