<div>
    <uib-accordion ng-show="model.questions.length > 0">
        <uib-accordion-group is-open="item.isOpen" ng-repeat="item in model.questions"
                             is-disabled="item.messages.length<1">
            <uib-accordion-heading>
                {{discuss.title}}
                <i class="fa pull-right" ng-class="{'fa-caret-up': discuss.isOpen, 'fa-caret-down': !discuss.isOpen}"></i>
            </uib-accordion-heading>
            <div class="gs-message" gs-message="msg" associate="model.associate" ng-repeat="msg in discuss.items"
            remove="removeMsg(msg)" update="updateMsg(msg)"></div>
        </uib-accordion-group>
    </uib-accordion>
    <div class="form" ng-form="msgForm">
        <div class="form-group">
            <select class="form-control"
                    ng-options="item.id as item.title for item in model.questions.list"
                    ng-model="model.msg.questionId"
                    ng-required="true">
                <option value="" selected disabled style="display:none;"
                        translate="PLACEHOLDER.SELECT_QUESTION"></option>
            </select>
        </div>

        <div class="form-group">
            <textarea class="form-control" ng-model="model.msg.entry" ng-reqired="true"
                      placeholder="{{'PLACEHOLDER.INPUT_MESSAGE' | translate}}"></textarea>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-options="item.id as (item.title + ' (' + item.role + ')') for item in model.assignTo | filter : filterSteps"
                    ng-model="model.msg.stepId"
                    ng-required="true">
                <option value="" selected disabled style="display:none;" translate="PLACEHOLDER.ASSIGN_TO"></option>
            </select>
        </div>
        <div class="form-group clearfix">
            <div class="checkbox-inline" ng-if="!surveyData.task.flagged && !flagIsDisabled()"><label class="text-danger">
                <input type="checkbox" ng-model="model.msg.isReturn" ng-change="flagChange()"/> <i class="chk-box"></i> <span translate="PLACEHOLDER.FLAG"></span></label>
            </div>

            <button class="btn btn-primary pull-right" translate="COMMON.SUBMIT" ng-click="sendMsg()"
                    ng-disabled="msgForm.$invalid || !msgForm.$dirty"></button>
        </div>
    </div>
</div>
