<div>
    <uib-accordion>
        <uib-accordion-group is-open="item.isOpen" ng-repeat="item in model.questions"
                             is-disabled="item.messages.length<1">
            <uib-accordion-heading>
                {{item.title}}
                <i class="fa pull-right" ng-class="{'fa-caret-up': item.isOpen, 'fa-caret-down': !item.isOpen}"></i>
            </uib-accordion-heading>
            <div class="gs-message" gs-message="msg" ng-repeat="msg in item.messages"></div>
        </uib-accordion-group>
    </uib-accordion>
    <div class="form" ng-form="msgForm">
        <div class="form-group">
            <select class="form-control"
                    ng-options="item.id as item.title for item in model.questions"
                    ng-model="model.msg.questionId"
                    ng-required="true">
                <option value="" selected disabled style="display:none;"
                        translate="PLACEHOLDER.SELECT_QUESTION"></option>
            </select>
        </div>

        <div class="form-group">
            <textarea class="form-control" ng-model="model.msg.entry" ng-reqired="true"
                      placeholder="{{'PLACEHOLDER.INPUT_MESSAGE' | translate}}"></textarea>
        </div>
        <div class="form-group">
            <select class="form-control"
                    ng-options="item.id as item.firstName+ ' '+item.lastName for item in model.associate"
                    ng-model="model.msg.userId"
                    ng-disabled="item.id === surveyParams.userFromId"
                    ng-required="true">
                <option value="" selected disabled style="display:none;" translate="PLACEHOLDER.ASSIGN_TO"></option>
            </select>
        </div>
        <div class="form-group clearfix">
            <div class="checkbox-inline"><label class="text-danger">
                <input type="checkbox" ng-model="model.msg.isReturn">Flag<i class="chk-box"></i></label>
            </div>

            <button class="btn btn-primary pull-right" translate="COMMON.SUBMIT" ng-click="sendMsg()"
                    ng-disabled="msgForm.$invalid || !msgForm.$dirty"></button>
        </div>
    </div>
</div>
