<div translate-namespace="SURVEYS">
    <div class="clearfix">
        <select class="pull-left" ng-model="model.lang" ng-options="lang.id as lang.nativeName for lang in languages"></select>

        &nbsp;&nbsp;
        <span uib-dropdown>
            <a uib-dropdown-toggle><span translate=".PRINT_SURVEY"></span> <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
                <li><a print-area="survey-form" print-css-mode="open-collapsible hide-inputs"><span translate=".PRINT_QUESTIONS"></span></a></li>
                <li><a print-area="survey-form" print-css-mode="open-collapsible" print-preprocess="printRenderBlank"><span translate=".PRINT_BLANK"></span></a></li>
                <!--<li><a print-area="survey-form" print-css-mode="open-collapsible" print-preprocess="printRenderAnswers"><span translate=".PRINT_ALL"></span></a></li>-->
            </ul>
            <!--<button class="btn btn-default" print-area="survey-form" print-mode="open-collapsible hide-inputs"><i class="fa fa-print"></i></button>-->
        </span>
        <p class="subtext pull-right">last saved: {{( savedAt || 'never') | date:"short" }}</p>
    </div>

    <uib-accordion>
        <uib-accordion-group is-open="model.contentOpen">
            <uib-accordion-heading>
                {{'SURVEYS.CONTENT' | translate}}
                <i class="fa pull-right"
                   ng-class="{'fa-caret-up': model.contentOpen, 'fa-caret-down': !model.contentOpen}"></i>
            </uib-accordion-heading>
            <ul class="survey-content">
                <survey-form-content-item content-item="item" ng-repeat="item in content"
                                          goto-field="goField"></survey-form-content-item>
            </ul>
        </uib-accordion-group>
    </uib-accordion>
    <div class="row">
        <div class="col-sm-12">
            <div name="surveyForm" role="form" ng-form="surveyForm" printing-area="survey-form">
                <div print-only>
                    <h1>{{surveyData.survey.title}}</h1>
                    <p>{{surveyData.survey.description}}</p>
                </div>
                <div class="form-group"
                     ng-repeat="fld in fields"
                     survey-form-field="fld"></div>
            </div>
            <div>
                <button class="btn btn-default pull-left" ng-click="back()" translate="COMMON.BACK"></button>
                <button class="btn pull-right" ng-click="saveDraft()" ng-disabled="!surveyForm.$dirty"
                        translate="SURVEYS.SAVE_DRAFT"></button>

                <button class="btn btn-primary pull-right"
                        ng-click="save()"
                        ng-disabled="surveyForm.$invalid || lock"
                        translate="SURVEYS.SUBMIT"></button>
            </div>
        </div>
    </div>
</div>
