<div translate-namespace="SURVEYS">
    <div class="clearfix">
        <select class="pull-left" ng-model="model.lang"
                ng-options="lang.id as lang.nativeName for lang in languages"></select>

        &nbsp;&nbsp;
        <span uib-dropdown>
            <a uib-dropdown-toggle><span translate=".PRINT_SURVEY"></span> <span class="caret"></span></a>
            <ul class="uib-dropdown-menu">
                <li><a print-area="survey-form" print-css-mode="open-collapsible hide-inputs"><span
                    translate=".PRINT_QUESTIONS"></span></a></li>
                <li><a print-area="survey-form" print-css-mode="open-collapsible clean-inputs"
                       print-preprocess="printRenderBlank"><span translate=".PRINT_BLANK"></span></a></li>
                <li><a print-area="survey-form" print-css-mode="open-collapsible" print-preprocess="printRenderAnswers"
                       print-close="updateAnswers()"><span
                    translate=".PRINT_ALL"></span></a></li>
            </ul>
        </span>

        <p class="subtext pull-right"><span translate=".LAST_SAVED"></span>: <span ng-if="model.savedAt">{{model.savedAt|date:'short'}}</span><span
            ng-if="!model.savedAt" translate="COMMON.NEVER"></span></p>
    </div>

    <uib-accordion>
        <uib-accordion-group is-open="model.contentOpen">
            <uib-accordion-heading>
                {{'SURVEYS.CONTENT' | translate}}
                <i class="fa pull-right"
                   ng-class="{'fa-caret-up': model.contentOpen, 'fa-caret-down': !model.contentOpen}"></i>
            </uib-accordion-heading>
            <ul class="survey-content">
                <survey-form-content-item content-item="item" ng-repeat="item in content"
                                          goto-field="goField"></survey-form-content-item>
            </ul>
        </uib-accordion-group>
    </uib-accordion>
    <div class="row">
        <div class="col-sm-12">
            <div name="surveyForm" role="form" ng-form="surveyForm" printing-area="survey-form" class="survey-form">
                <div print-only>
                    <h1>{{surveyData.survey.title}}</h1>

                    <p>{{surveyData.survey.description}}</p>
                </div>
                <div class="form-group"
                     ng-repeat="fld in fields"
                     survey-form-field="fld" field-disabled="surveyData.disabledFields"></div>
            </div>
            <div>
                <button class="btn btn-default pull-left" ng-click="back()" translate="COMMON.BACK"></button>

                <div class="pull-right">

                    <div ng-if="surveyData.task.flagged" class="form-horizontal" style="margin:0 0 10px 5px;">
                        <textarea class="form-control"
                                  placeholder="{{'SURVEYS.RESOLVE_ENTRY' | translate}}"
                                  ng-model="resolveFlagData.entry"
                                  ng-required="true"></textarea>

                    </div>

                    <button class="btn pull-right" ng-click="saveDraft()" style="clear:right"
                            title="{{'SURVEYS.LAST_SAVED' | translate}}: {{model.savedAt | date:'medium'}}"
                            ng-disabled="(!surveyForm.$dirty || isLocked() || model.formReadonly || model.locked)"
                            translate="SURVEYS.SAVE_DRAFT"></button>

                    <button ng-if="!surveyData.task.flagged" class="btn btn-primary pull-right" ng-hide="surveyData.flags.allowTranslate && !model.translated"
                            ng-click="save()"
                            ng-disabled="(surveyForm.$invalid || isLocked() || model.locked)"
                            translate="SURVEYS.SUBMIT">
                    </button>

                    <button class="btn btn-primary pull-right" ng-show="surveyData.flags.allowTranslate && !model.translated"
                            disabled="disabled">
                        <span class="checkbox-inline"><label><input type="checkbox" ng-model="model.translated">
                            <i class="chk-box"></i>{{"SURVEYS.TRANSLATED" | translate}}</label></span>
                    </button>

                    <button ng-if="surveyData.task.flagged"
                            class="btn btn-primary pull-right"
                            ng-disabled="!resolveFlagData.entry || model.locked"
                            ng-click="resolve()"
                            style="vertical-align: top">
                        <span translate="SURVEYS.SAVE_AND_RESOLVE"></span> <i class="fa fa-flag"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
