<form class="upload-form" ng-submit="uploader.uploadAll()">
    <div class="form-group">
        <h5 translate="FILE.SELECT"></h5>
        <input type="file" class="form-control input-file" name="file" nv-file-select uploader="uploader">
        <div class="progress" ng-if="uploader.progress">
            <div class="progress-bar"
                 role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <p class="text-info" ng-show="model.error">{{model.error}}</p>
        <button type="submit" class="btn pull-right btn-primary upload-file-button"
                ng-disabled="disableUploadButton()"
            translate="FILE.CONTINUE">
        </button>
        <div class="clearfix"></div>
    </div>
    <div ng-repeat="issue in model.issues" ng-show="model.issues.length>0" class="text-{{issue.severity}}">
        <i class="fa fa-exclamation-circle"></i> {{issue.details}}
    </div>

</form>
