<ng-form name="filterForm" class="form-inline" style="postion: fixed;padding: 10px; padding-bottom: 42px;">
  <div class="form-group">
    <label for="userDropdown"> User </label>
    <select class="form-control" id="userDropdown" ng-model="filterForm.userSelected" ng-options="user for user in users">
      <option value="user">--All--</option>
    </select>
  </div>
  <div class="form-group">
    <label for="topicDropdown"> Topic </label>
    <!--div ng-dropdown-multiselect id="topicDropdown" options="topics" selected-model="filterForm.topicSelected" extra-settings="multiDropdownSettings">
    </div-->
    <select multiple size='1' class="form-control" id="topicDropdown" ng-model="filterForm.topicSelected" ng-options="topic as topic.name for topic in topics track by isoa2">
      <option value="topic" selected disabled>--Choose Topic--</option>
    </select>
  </div>
  <div class="form-group">
    <label for="subtopicDropdown"> Subtopic </label>
    <select class="form-control" id="subtopicDropdown" ng-model="filterForm.subtopicSelected.subtopic" ng-options="st as st.name for st in filterOptions.subtopics track by st.id">
      <option value="st" selected disabled>--Choose Subtopic--</option>
    </select>
  </div>
  <div ng-show="filterForm.subtopicSelected.subtopic.name == 'Continent'" class="form-group ng-hide">
    <label for="continentDropdown"> Continent </label>
    <select class="form-control" id="continentDropdown" ng-model="filterForm.subtopicSelected.category" ng-options="ct as ct.name for ct in filterOptions.continents track by ct.isoa2">
      <option value="ct" selected disabled>--Choose Continent--</option>
    </select>
  </div>
  <div ng-show="filterForm.subtopicSelected.subtopic.name == 'Income'" class="form-group ng-hide">
    <label for="incomeDropdown"> Income Level </label>
    <select class="form-control" id="incomeDropdown" ng-model="filterForm.subtopicSelected.category" ng-options="lvl as lvl.name for lvl in filterOptions.incomeLevels">
      <option value="lvl"> Choose Income Level </option>
    </select>
  </div>
  <div class="form-group">
    <label for="questionDropdown"> Question </label>
    <select class="form-control" ng-model="filterForm.questionSelected" ng-options="question as question.qid for question in surveys" id="questionDropdown" placeholder="Question...">
      <option value="question">Question ID</option>
    </select>
  </div>
  <div class="form-group">
    <label for="mapQueryInput"> Custom Query: </label>
    <input class="form-control" placeholder="question1:yes" ng-model="filterForm.mapQuery" id="mapQueryInput"></input>
  </div>
  <button type="submit" class="btn btn-success pull-right" ng-click="drawMap()">Submit</button>
</ng-form>
<div id="mapViz"></div>