<form class="form-inline">
  <div class="form-group">
    <label for="topicdropdown"> Topic </label>
    <select class="form-control" id="topicDropdown" ng-model="filterParams.topicSelected" ng-options="topic as topic.name for topic in topics track by topic.isoa2">
      <option value="topic">--Choose topic--</option>
    </select>
  </div>
  <div class="form-group">
    <label for="topicDropdown"> Subtopic </label>
    <select class="form-control" id="subtopicDropdown" ng-model="filterParams.subtopicSelected.subtopic" ng-options="st as st.name for st in filterOptions.subtopics track by st.id">
      <option value="st">--Choose subtopic--</option>
    </select>
  </div>
  <div ng-show="filterParams.subtopicSelected.subtopic.name == 'Continent'" class="form-group ng-hide">
    <label for="continentDropdown"> Continent </label>
    <select class="form-control" id="continentDropdown" ng-model="filterParams.subtopicSelected.category" ng-options="ct as ct.name for ct in filterOptions.continents track by ct.isoa2">
      <option value="ct">--Choose continent--</option>
    </select>
  </div>
  <div ng-show="filterParams.subtopicSelected.subtopic.name == 'Income'" class="form-group ng-hide">
    <label for="incomeDropdown"> Income Level </label>
    <select class="form-control" id="incomeDropdown" ng-model="filterParams.subtopicSelected.category" ng-options="lvl as lvl.name for lvl in filterOptions.incomeLevels">
      <option value="lvl"> Choose income level </option>
    </select>
  </div>
  <div class="form-group">
    <label for="questionDropdown"> Question </label>
    <select class="form-control" ng-model="filterParams.questionSelected" ng-options="question as question.qid for question in surveys" id="questionDropdown" placeholder="Question...">
      <option value="question">Question id</option>
    </select>
  </div>
  <div class="form-group">
    <label for="mapQueryInput"> Custom Query: </label>
    <input class="form-control" placeholder="question1:yes" ng-model="filterParams.mapQuery" id="mapQueryInput"></input>
  </div>
  <button type="submit" class="btn btn-default" click="renderMap()">Submit</button>
</form>
<div id="viz">
  <svg width='1000' height='800'></svg>
</div>