<rd-widget>
    <rd-widget-header icon="{{model.icon}}" title="{{model.title}}">
        <div class="text-right" ng-show="model.add">
            <button class="btn btn-default btn-xs" ng-click="model.add.handler()"><i class="fa {{model.add.icon}}"
                                                                                     ng-show="model.add.icon"> </i>{{model.add.title|translate}}
            </button>
        </div>
    </rd-widget-header>
    <div class="widget-table ng-table">
        <table class="table table-responsive panel {{::classes}}"
               ng-class="{'table-hover':model.selectable}"
               ng-table-dynamic="model.tableParams with model.cols">
            <tr ng-repeat="row in $data" ng-click="select(row, $event)" ng-class="{selected: isSelected(row)}"
                ng-disabled="isDisabled(row)" propagate-disabled>
                <td data-header="col.header" ng-repeat="col in $columns" widget-table-cell="col" row-value="row"
                    model-multiselect="model.multiselect"></td>
            </tr>
            <tr ng-show="!model.$loading && model.dataMap && !model.dataMap.length" class="empty-data text-center">
                <td colspan="{{$columns.length}}">{{(model.noDataText||'TABLES.NO_DATA')|translate}}</td>
            </tr>
            <tr ng-show="model.$loading">
                <td colspan="{{$columns.length}}">
                    <rd-loading></rd-loading>
                </td>
            </tr>
        </table>
    </div>
</rd-widget>

<script type="text/ng-template" id="ng-table/headers/check-all.html">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   class="select-all"
                   ng-model="model.multiselect.selectAllState"
                   ng-if="model.dataMap.length"
                   ng-change="model.multiselect.selectAll(); model.multiselect.fireChange()"
                   title="{{(model.multiselect.selectAllTitle||'TABLES.SELECT_ALL_TITLE')|translate}}"
                />

            <div class="chk-box"></div>
        </label>
    </div>
</script>
