<rd-widget>
    <rd-widget-header icon="{{model.icon}}" title="{{model.title}}">
        <div class="text-right" ng-show="model.add">
            <button class="btn btn-default btn-xs" ng-click="model.add.handler()">{{model.add.title}}</button>
        </div>
    </rd-widget-header>
    <div class="table-responsive">
        <table class="table table-responsive table-hover panel" ng-table-dynamic="model.tableParams with model.cols">
            <tr ng-repeat="row in $data">
                <td ng-repeat="col in $columns" widget-cell="col" row-value="row"></td>
            </tr>
        </table>
    </div>
</rd-widget>
