.action,
.action-secondary {
    @extend a;
    margin: 0 0 0 5px;
    color: $grey-medium-light;
    &:hover {
        color: $grey-medium-dark;
    }
}

.action-primary {
    color: $green;
    &:hover {
        color: $green-dark;
    }
}

.action-danger {
    color: $red;
    &:hover {
        color: $red-dark;
    }
}

a, .action, .action-secondary, .action-primary {
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &.disabled {
        opacity: 0.5;
        cursor: default;
        color: $grey-medium-light;
    }
}

.ta-toolbar .btn {
    padding: 0px 6px;
}
