.widget {
    .widget-header {
        padding: 0 15px;
    }
}
.widget-header {
    .row>div {
        margin-bottom: 0;
    }
}

.breadcrumb-links {
    .breadcrumb {
        background-color: inherit;
        margin-bottom: 0;
        padding-left:0;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}

.widget-table {
    tr.selected {
        @extend .bg-info;
    }
    tr.selected:hover {
        background-color: #C2D6E0;
    }
}
