.formbuilder {
    position: relative;
}

.response-field-section_start ~ .fb-field-wrapper {
    padding-left: 20px;
}

.response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 40px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 60px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 80px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 100px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .fb-field-wrapper {
    padding-left: 120px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 140px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 160px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 180px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 200px;
}

.response-field-section_end,
.response-field-section_end ~ .fb-field-wrapper {
    margin-left: -20px;
}

.response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -40px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -60px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -80px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -100px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .fb-field-wrapper {
    margin-left: -120px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -140px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -160px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -80px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -200px;
}
