.modal-form {
    .checkbox input[type="checkbox"] {
        margin-left: 0;
    }
}

[uib-datepicker-popup].form-control {
    &.embedded.ng-invalid-date {
        border: 1px solid red;
        z-index: 3;
    }
}

.translation-input,
.translation {
    position: relative;
    & .translation-icon {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 1em;
        right: 15px;
        cursor: pointer;
        z-index: 10;
    }
}

.translation-form {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

upload-form,
.upload-form {
    .progress {
        margin: 10px 0 0 0;
        .progress-bar {
            transition: initial;
        }
    }
    .upload-file-button {
        margin-top: 10px;
    }
}

.help-block {
    font-size: $font-size-sub;
}

.form-condensed {

    .form-group {
        margin-bottom: 0;
    }
}

.form-group .subtext {
    //    max-height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-description,
.field-response span,
.section-description {
    white-space: pre-wrap;
}

.section-description {
    border-bottom: solid 1px $grey-medium-light;
    margin-bottom: ($grid-gutter-width / 2);
}

.input-group-addon {
    .radio label,
    .checkbox label {
        min-height: 12pt;
    }
    .radio {
        margin: 0;
    }
}

button .checkbox,
button .checkbox-inline {
    label {
        margin: 0;
    }
}

select:disabled,
keygen:disabled,
optgroup:disabled,
option:disabled,
select[disabled] > option,
option.disabled {
    color: $grey-medium-light;
}

.attachments {
    .panel-title {
        font-size: $font-size-base;
    }

    .panel-body {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .row > div.file-attach {
        margin-bottom: 3px;
        padding-right: $grid-gutter-width;
    }

    .file-attach {
        font-size: $font-size-sub;

        .file-link {
            i {
                margin-right: 3px;
            }

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .file-remove {
            position: absolute;
            right: floor($grid-gutter-width/2);
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.policy {
    .policy-sections {
        border-top: solid thin $grey-medium-light;
        border-bottom: solid thin $grey-medium-light;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 15px;

        .panel {
            margin-bottom: 0;
        }

        .policy-upload {
            margin: 0;
        }
    }
}

.policy-review {
    .form-group {
        margin-bottom: 0;
        .control-label {
            padding-top: 0;
        }
        .form-control-static {
            padding-top: 0;
            min-height: 1em;
        }
    }
    .policy-sections {
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 15px;

        .panel {
            margin-bottom: 0;
        }
    }
}

.gs-message-answer-form {
    .ta-editor, .ta-editor > .ta-bind{
        min-height: 90px;
        height: auto !important;
    }
}
