.modal-form {
    .checkbox input[type="checkbox"] {
        margin-left: 0;
    }
}

.translate i {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
    right: 2em;
    cursor: pointer;
}
