.formbuilder {
    position: relative;
}

.response-field-section_start ~ .fb-field-wrapper {
    padding-left: 20px;
}

.response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 40px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 60px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 80px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 100px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .fb-field-wrapper {
    padding-left: 120px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 140px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 160px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 180px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .fb-field-wrapper {
    padding-left: 200px;
}

.response-field-section_end,
.response-field-section_end ~ .fb-field-wrapper {
    margin-left: -20px;
}

.response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -40px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -60px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -80px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -100px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .fb-field-wrapper {
    margin-left: -120px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -140px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -160px;
}

.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -80px;
}

.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end,
.response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~ .response-field-section_start ~
.response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .response-field-section_end ~ .fb-field-wrapper {
    margin-left: -200px;
}

.fb-save-wrapper {
    display: none;
}

.fb-response-fields {
    padding-bottom: 30px;
}
.fb-response-fields hr {
    border-color: #737373;
    margin: 5px 0;
}
[form-builder-control] {
    display: none;
    &.active {
        display: block;
    }
}

.survey-edit {
    .form-builder-control {
        margin-left: 15px;
    }
}

.fb-tab-content {
    .fb-tab-pane {
        padding-right: 0;
    }
}
