h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: normal;
}

.logo {
    display: block;
    height: 56px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/images/indaba-logo.png");
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.padding {
    padding: 7px 12px;
}

.drop-zone {
    position: relative;
}
.drop-zone-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3px;
    div {
        border: 1px dashed $green;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
}

.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.disabled,
:disabled {
    color: $grey-light;
}

.subtext {
    font-size: $font-size-sub;
    font-weight: normal;
    color: $grey-medium-light;
    margin-bottom: 5px;

    &:after {
        @extend .row:after;
    }
}

.required:after {
    content: ' *';
    color: $green;
    display: inline;
}

.text-danger {
    font-style: italic;
}

.weight-normal {
    font-weight: normal;
}

.break-words {
    word-wrap:break-word;
}
