.language-selector {
    .dropdown-toggle {
        cursor: pointer;
    }
    .locale {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.8em;
        opacity: 0.6;
        position: relative;
        top: -1px;
    }
    .fa-caret-down {
        position: relative;
        top: 1px;
    }
    .flag {
        height: auto !important;
        width: auto !important;
        margin: auto !important;
        border: 1px solid #ddd;
    }
}
