.language-selector {
    .dropdown-toggle {
        cursor: pointer;
    }
    .fa-caret-down {
        position: relative;
        top: 1px;
    }
    .flag {
        height: auto !important;
        width: auto !important;
        margin: auto !important;
        border: 1px solid #ddd;
    }
}
.user .item.language-selector {
    .dropdown-toggle {
        cursor: default;
        line-height: 55px;
        .fa-caret-down {
            display: none;
        }
    }
}
