.modal-xxl {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1300px) {
    .modal-xxl {
        width: 1260px;
        padding: 0;
    }
}

.modal-system {
    .modal-header {
        @extend h2;
        margin: 0;
        padding-bottom: 10px;
        border: none;
    }
    .modal-footer {
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .modal-title, .modal-body, .modal-footer {
        text-align: center;
        border: none;
    }
}
