.tab-pane checkbox-list .panel {
    overflow-y: auto;
    margin-bottom: 0;
    border-top-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 15px;
}
.user-uoa {
    select {
        height: 310px;
    }
    .tab-pane checkbox-list .panel {
        height: 268px;
    }
}
