.tab-pane > .panel {
    overflow-y: auto;
    margin-bottom: 0;
    border-top-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;
}

.user-uoa {
    select {
        height: 310px;
    }
    .tab-pane > .panel {
        height: 268px;
    }
}

.checkbox-list,
checkbox-list {
    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.brick {
    background-color: rgb(226, 114, 91);
}

.gs-message {
    .gs-message-from {
        font-weight: bold;
    }

    .gs-message-body {
        max-height: 5em;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
        &:hover {
            max-height: none;
        }
    }

    .gs-message-body-edit {
        &.gs-message-body {
            height: 0;
            max-height: none;
            overflow: auto;
        }
        span {
            display: none;
        }
    }
}

.group-discussion {
    background-color: $grey-light;
}
