.tab-pane > .panel {
    overflow-y: auto;
    margin-bottom: 0;
    border-top-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;
}

.user-uoa {
    select {
        height: 310px;
    }
    .tab-pane > .panel {
        height: 268px;
    }
}

.checkbox-list,
checkbox-list {
    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }
    &.with-other .checkbox-list-item {
        margin-left: 13px;
    }
}

.brick {
    background-color: rgb(226, 114, 91);
}

.gs-message {
    padding: 15px;
    background-color: $grey-light;
    border: solid thin $grey-medium-light;
    border-radius: 15px;
    margin-bottom: 5px;

    .gs-message-from {
        font-weight: bold;
    }
    .gs-message-body-warpper {

        .gs-message-body {
            position: relative;
            max-height: 7em;
            overflow: hidden;
            .ta-text {
                white-space: pre-wrap;
                word-wrap: break-word;
                padding: 5px;
                background-color: #fff;
                cursor: pointer;
            }

            .gs-message-fader {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0 10px 0 0;
                margin: 0;
                background: transparent; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(transparent, $grey-light); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(transparent, $grey-light); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(transparent, $grey-light); /* For Firefox 3.6 to 15 */
                background: linear-gradient(transparent, $grey-light); /* Standard syntax */
            }
        }
    }

    .gs-message-full-view {
        font-size: 15pt;
        small {
            font-size: 11pt;
            color: #ccc;
            font-weight: normal;
        }
    }
}

.gs-message-body-wrapper {
    .ta-text {
        padding: 5px;
    }
}

.group-discussion {
    background-color: $grey-light;
}

.palette {
    display: inline-block;
    line-height: 0;
    .palette-row {
        display: block;
        .palette-item {
            display: inline-block;
            border: thin solid $grey-medium-light;
            width: 1em;
            height: 1em;
            border-radius: 0.15em;
            cursor: pointer;
            margin: 0.5px;
        }
    }
}

div.disabled {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    background-color: #fff;
    z-index: 10;
}

.gs-contextmenu-wrapper {
    position: relative;

    .dropdown-menu {
        display: none;
        position: absolute;
    }

    &.open {
        .dropdown-menu {
            display: block;
        }
    }
}

.section-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.search-panel {
    .well {
        overflow-y: visible;
        .dropdown-menu {
            right: 0;
            left: auto;
            float: left;
        }
    }
    &.is-fixed-on-scroll {
        .well {
            box-shadow: 0 0 15px #ccc;
            z-index: 10;
        }
    }
    input {
        height: 27pt;
        padding-right: 35px;
    }
    .search-btn {
        border: 1px solid #ccc !important;
        background: transparent !important;
        color: #444;
        &.search-info {
            color: #999;
            &:hover, &:active {
                cursor: default;
                box-shadow: none;
            }
            border-left-width: 0 !important;
            border-right-width: 0 !important;
        }
        &.search-next {
            border-right: 0 !important;
        }
        &.search-empty, &.search-clear {
            color: $brand-danger;
        }
        &.search-empty {
            border-left-width: 1px !important;
        }
        &.search-clear {
            position: absolute;
            right: 100%;
            z-index: 5;
            border: 0px !important;
            font-size: 19px;
            padding: 5px 10px 3px;
        }
    }
}

em.hilitor.current {
    border: 1px dotted #ccc;
}

fb-policy .panel-title {
    min-height: 1em;
}

.list-group-item.active, .list-group-item.active:hover {
    background-color: #777;
    border-color: #777;
}

.download-review-versions {
    margin-bottom: 0;
}

.line-numbers.section-text, .line-numbers [ta-bind] {

    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 40px;
    counter-reset: p-counter;

    ln:before, .ln:before {
        content: counter(p-counter);
        counter-increment: p-counter;
        position: absolute;
        left: 0;
        width: 35px;
        text-align: right;
        font-size: 12px;
        top: auto;
        margin-top: 2px;
        color: #ccc;
        font-weight: normal;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
    }
}
