@media screen {
    #printable {
        visibility: hidden;
        display: none;
    }
    [print-only] {
        display: none;
    }
}

@media print {
    .body-wrapper {
        display: none;
    }
    a[href]:after {
        content: none !important;
    }
    a[href] {
        cursor: default;
    }
    #printable {
        visibility: visible;
        display: block;
    }
    #printable {
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        [print-only] {
            display: block;
        }
        [no-print] {
            display: none;
        }
        .form-group {
            .subtext {
                display: none;
            }
            .field-description {
                display: block;
                max-height: none;
            }
            .field-comment {
                display: none;
            }
        }
        .open-collapsible {
            .panel-heading {
                .fa.pull-right {
                    display: none;
                }
            }
            .panel-collapse {
                display: block;
                height: auto !important;
            }
        }
        .radio input:checked + .chk-box,
        .radio-inline input:checked + .chk-box,
        .checkbox input:checked + .chk-box,
        .checkbox-inline input:checked + .chk-box {
            border: 7px solid #000;
        }
        .hide-inputs {
            .form-group {
                input, textarea, select,
                attachments,
                .input-group,
                .input-group-btn,
                .input-group-addon,
                .radio,
                .checkbox,
                .checkbox-list {
                    display: none;
                }
            }
        }

        ::-webkit-input-placeholder {
            color: transparent;
            opacity: 1 !important; /* for chrome */
        }

        :-moz-placeholder { /* Firefox 18- */
            color: transparent;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: transparent;
        }

        :-ms-input-placeholder {
            color: transparent;
        }
    }
}
