@media screen {
    #printable {
        visibility: hidden;
        display: none;
    }
    [print-only] {
        display: none;
    }
}

@media print {
    .body-wrapper {
        display: none;
    }
    a[href]:after {
        content: none !important;
    }
    a[href] {
        cursor: default;
    }
    #printable {
        visibility: visible;
        display: block;
    }
    #printable {
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        [print-only] {
            display: block;
        }
        [no-print] {
            display: none;
        }
        .form-group {
            page-break-inside: avoid;
            .subtext {
                display: none;
            }
            .field-description {
                display: block;
                max-height: none;
            }
            .field-comment {
                display: none;
            }
        }
        .open-collapsible {
            .panel-heading {
                .fa.pull-right {
                    display: none;
                }
            }
            .panel-collapse {
                display: block;
                height: auto !important;
            }
        }
        .radio input:checked + .chk-box,
        .radio-inline input:checked + .chk-box,
        .checkbox input:checked + .chk-box,
        .checkbox-inline input:checked + .chk-box {
            border: 7px solid #000;
        }
        .hide-inputs {
            .form-group {
                input, textarea, select,
                attachments,
                .input-group,
                .input-group-btn,
                .input-group-addon,
                .radio,
                .checkbox,
                .checkbox-list {
                    display: none;
                }
            }
        }

        .handwrite-field {
            height: 35px;
            border-bottom: 1px solid #ccc;
            &:first-child {
                margin-top: -10px;
            }
            &.small-line {
                //&:not(:first-child) {
                //    height: 25px;
                //}
            }
            &.bullet-line {
                //&:not(:first-child) {
                //    height: 25px;
                //}
                border: none;
                .fa {
                    position: relative;
                    top: 10px;
                    float: left;
                    clear: left;
                }
                div {
                    height: 100%;
                    border-bottom: 1px solid #ccc;
                    margin-left: 20px;
                }
            }
            &.select-options {
                border:none;
                height: auto;
                .select-option {
                    display: inline-block;
                    margin: 4px 20px 0 4px;
                }
            }
            .pull-right {
                position: relative;
                top: 10px;
            }
        }

        ::-webkit-input-placeholder {
            color: transparent;
            opacity: 1 !important; /* for chrome */
        }

        :-moz-placeholder { /* Firefox 18- */
            color: transparent;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: transparent;
        }

        :-ms-input-placeholder {
            color: transparent;
        }
    }
}
