#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator,
.sidebar-footer,
#sidebar-wrapper {
    background-color: $grey-light;
}

ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-main a {
    background-color: transparent;
}

#sidebar-wrapper {
    left: -70px;
    .logo {
        margin: 15px;
        width: 185px;
        float: left;
        background-position: left center;
    }
}

ul.sidebar {
    .sidebar-title {
        @extend .h2;
        /*
                line-height: 1.4;
                height: auto;
                padding: 20px 20px 5px 20px;
                text-indent: 0;
                color: $grey-dark;
                */
    }

    .sidebar-list {
        height: auto;
        position: relative;
        a, a:hover {
            color: $grey-medium-light;
            float: none;
            display: block;
            padding: 11px 45px 11px 22px;
            line-height: 1.4;
            text-indent: 0;
            &:hover {
                border-left: transparent 0px none;
            }
            .menu-icon {
                float: none;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                line-height: 100%;
                padding: 14px 18px;
                width: 50px;
                text-indent: 0;
            }
        }
        a:hover {
            color: $green;
            border: none;
        }
    }
    .sidebar-main {

        a,
        a:hover {
            color: $green;
        }
        .menu-icon {
            padding: 0 15px 0 0;
            margin: 0;
        }
    }
}

#page-wrapper:not(.open) ul.sidebar {
    .sidebar-list {
        display: none;
    }
}
