.survey-content {
    list-style: none;
    padding-left: 15px;
}

.section-break {
    border-top: solid 1px $grey-medium-light;
    border-bottom: solid 1px $grey-medium-light;
    background-color: $grey-light;

    label {
        margin: 5px 0;
        font-weight: normal;
        font-size: $font-size-sub;
        padding: 0 5px;
    }
}

.survey-form {

    .attachments {
        .panel-title {
            font-size: $font-size-base;
        }

        .panel-body {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .row > div.file-attach {
            margin-bottom: 3px;
            padding-right: $grid-gutter-width;
        }

        .file-attach {
            font-size: $font-size-sub;

            .file-link {
                i {
                    margin-right: 3px;
                }

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }

            .file-remove {
                position: absolute;
                right: floor($grid-gutter-width/2);
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    .option-list {
        list-style-type: none;
        list-style-position: inside;
        counter-reset: survey-option;
    }

    .survey-option {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        font-size: $font-size-base*0.9;
    }

    .survey-option:before {
        counter-increment: survey-option;
        content: counter(survey-option, none);
    }

    .upper-latin .survey-option:before {
        content: counter(survey-option, upper-latin) ". ";
    }

    .decimal .survey-option:before {
        content: counter(survey-option, decimal) ". ";
    }

    .lower-latin .survey-option:before {
        content: counter(survey-option, lower-latin) ". ";
    }

    .radio,
    .radio-inline,
    .checkbox,
    .checkbox-inline {
        input + .chk-box {
            margin: 3px 0 auto 0;
        }
    }
}

.field-wrapped {
    position: relative;
}

.field-wrapped .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.01;
    background-color: white;
    z-index: 10;
}

.field-responses {
    padding: 5px 0 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.field-comment {
    position: relative;
    padding: 5px 0 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.field-comment .field-comment-radio {
    float: left;
}

.field-comment textarea {
    float: left;
    margin-right: 10px;
    height: 71px;
}

.field-comment::after {
    content: " ";
    float: none;
    clear: both;
    display: block;
}

.field-response {
    padding: 5px 0;
    border-top: 1px solid #ccc;
}

.field-response .fa {
    font-size: 20px;
    margin-right: 5px;
}

.field-response .field-response-text {
    margin-right: 10px;
}

.field-response .fa-times, .field-response-text {
    color: #ccc;
}

.field-response .fa-ban, .field-response-text.no {
    color: $red;
}

.field-response .fa-check, .field-response-text.yes {
    color: $green;
}

.gs-links {
    p {
        border-bottom: solid 1px $grey-light;
        margin-bottom: ($grid-gutter-width / 6);
    }
    .gs-link-wrapper {
        display: inline-block;
        position: relative;
        margin: 0 ($grid-gutter-width / 2);
        max-width: 7.5em;

        div {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            margin: 0px;
            white-space: nowrap;
        }

        i {
            position: absolute;
            display: block;
            padding: 0;
            margin: 0;
            line-height: inherit;
            top: 0;
            right: -($grid-gutter-width / 2);
        }
    }
}

.flag-question {
    background-color: #fcf8e3;
    box-shadow: 0 0 10px 10px #fcf8e3;

    .flag {
        display: none;
    }
}
.flagged-survey .flag-question .flag {
    display: block;
}
