.widget-table {
    overflow: visible; // for datepicker in row
    tr.selected {
        @extend .bg-info;
    }
    tr.selected:hover {
        background-color: #C2D6E0;
    }
    .table-hover {
        tr td {
            cursor: pointer;
        }
    }
    .row-actions {
        white-space: nowrap;
        button {
            margin-left: 4px;
        }
        button:first-child {
            margin-left: 0;
        }
    }
    th {
        @extend h2;
        .header {
            &.header-actions, &.header-multiselect {
                width: 1%;
            }
            .select-all {
                margin: 0;
                position: relative;
                top: 2px;
            }
        }
    }
    th, td {
        .checkbox {
            position: relative;
            top: 1px;
            margin-top: 0;
            margin-bottom: 0;
            label {
                min-height: 0;
            }
        }
    }
    td {
        @extend p;
        .input-cell {
            .form-group {
                margin: -6px 0;
            }
            &.auto-width {
                width: 1%;
            }
            .input-group {
                margin: 0;
            }
        }
    }
    table.table {
        &.table-bordered > thead > tr > th:first-child,
        &.table-bordered > thead > tr > td:first-child,
        &.table-bordered > tbody > tr > th:first-child,
        &.table-bordered > tbody > tr > td:first-child,
        &.table-bordered > tfoot > tr > th:first-child,
        &.table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
        }

        &.table-bordered > thead > tr > th,
        &.table-bordered > thead > tr > td,
        &.table-bordered > tbody > tr > th,
        &.table-bordered > tbody > tr > td,
        &.table-bordered > tfoot > tr > th,
        &.table-bordered > tfoot > tr > td {
            border-left: 1px solid #ddd;
            border-right: 0;
        }
    }
    tr td.ui-draggable-dragging {
        background: #fff;
        box-shadow: 0 4px 10px #ccc;
    }
    rd-loading .loading {
        margin: 20px auto;
    }
}

.drag-user {
    cursor: move;
    &.ui-draggable-dragging {
        background: #fff;
        box-shadow: 0 2px 5px #999;
        z-index: 1000;
    }
}

.drop-user {
    .text-muted {
        opacity: 0.4;
    }
    .unassign-user {
        cursor: pointer;
        padding: 0 5px;
    }
}
