.ui-draggable-dragging {
    background: #fff;
    box-shadow: 0 4px 10px #ccc;
    width: auto;
    z-index: 2000;
}

.drag-user {
    cursor: move;
    &.ui-draggable-dragging {
        background: #fff;
        box-shadow: 0 2px 5px #999;
        z-index: 1000;
    }
}

.drop-user {
    .text-muted {
        opacity: 0.4;
    }
    .action {
        margin: 0;
    }
}

.table th.ui-droppable {
    &.bg-success {
        @extend .bg-success;
    }
    &.bg-danger {
        @extend .bg-danger;
    }
}

.table tr.expand-row td {
    border-top-color: #efefef;
    vertical-align: top;
}
.expand-row {
    [class^="col-"] {
        margin-bottom: 0;
    }
    .row-block {
        display: inline-block;
        padding: 0 15px;
        &:first-child {
            padding-left: 0;
        }
    }
}
.progress-block {
    display: inline-block;
    width: 20px;
    height:20px;
    margin-right: 2px;
    background: #ddd;
    border: 1px solid #ddd;
    &.current {
        border-color: #bbb;
    }
}

.widget-table {
    .table {
        margin: 0;
    }
    .ng-table-pager {
        padding: 0;
        .pagination, .ng-table-counts {
            margin: 10px;
        }
    }
    tr.ui-sortable-placeholder {
        visibility: visible !important;
        @extend .bg-success;
        td {
            @extend .bg-success;
        }
    }
    tr.ui-sortable-helper {
        background: #fff;
        box-shadow: 0 2px 5px #999;
        z-index: 1000;
    }
    .action-drag-sortable {
        cursor: move;
    }
    .pagination, .ng-table-counts {
        .pagination-info {
            padding: 0 12px 0 0;
            position: relative;
            top: 2px;
        }
        .btn {
            background: $white;
            &:hover, &:active, &.active {
                background: $green;
                color: $white;
                border-color: $green;
            }
        }
    }
    tr td .action:first-child {
        margin: 0
    }
    label + .radio {
        margin-top: 0;
    }
}
