.ui-draggable-dragging {
    background: #fff;
    box-shadow: 0 4px 10px #ccc;
    width: auto;
    z-index: 2000;
}

.drag-user {
    cursor: move;
    &.ui-draggable-dragging {
        background: #fff;
        box-shadow: 0 2px 5px #999;
        z-index: 1000;
    }
}

.drop-user {
    .text-muted {
        opacity: 0.4;
    }
    .action {
        margin: 0;
    }
}
