text-angular,
.ta-root {
    position: relative;
}

[text-angular-toolbar],
.ta-toolbar {
    height: 25px;
    position: relative;
    z-index: 1;
}

.modal-dialog .ta-scroll-window {
    height: 302px;
}
