.user-notifications {
    .dropdown-toggle {
        position: relative;
    }
    .scroll {
        overflow: hidden;
        overflow-y: auto;
        max-height: 350px;
    }
    .notification {
        min-width: 400px;
        padding: 10px 15px 5px 15px;
        border-top: 1px solid #eee;

        &:first-child, &.first {
            border: 0;
        }

        .sender {
            font-size: 11pt;
            font-weight: bold;
        }
        .send-time {
            font-size: 10pt;
            color: $gray;
        }
        p {
            margin: 0;
            padding: 3px 0;
        }
    }
    .control {
        font-size: 10pt;
        padding-right: 10px;
    }
    .go-history {
        border-top: 1px solid #eee;
        padding: 10px 15px 5px 15px;
        text-align: left;
        a, a:hover {
            display: inline;
            background: transparent;
            @extend a;
        }
    }
}
