$grey-dark: #252525;
$grey-medium-dark: #555555;
$grey-medium-light: #aaaaaa;
$grey-light: #eeeeee;
$green: #7abc55;
$green-dark: #159045;
$red: #dc402e;
$red-dark: #902a1f;
$white: #fff;

$base-border-radius: 5px;

$sidebar-toggle-width: 30px;

$widget-base-color: $grey-dark;
$widget-background-color: $white;

$widget-header-color: $white;
$widget-header-background-color: $grey-dark;
$widget-icon-color: $white;

$widget-border-color: $grey-light;

$widget-border-radius: $base-border-radius;
