.viz-padding {
    padding: 10px;
    padding-bottom: 42px;
}

#viz {
    min-height: 300px;
}

#filterForm {
    .control-label { margin: 7px 0; }

    .row > div {
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }

    button {
        margin-left: 0 !important;
    }

    .controls {
        padding: 0 25px;
    }

    .multiSelect > button {
        width: 100%;
    }
}

.aggregate-typem, .visualization-type {
    margin-top: 8px;
}

// comparative viz
.comparative {
    display: block;
    margin: 0 auto;

    .axis path, .axis line {
      fill: none;
      stroke: black;
    }
}

.comparative-container {
    overflow-x: scroll;
}

.products-indexes {
    rd-widget-header {
        display: none;
    }

    padding-right: 0px;
    margin-bottom: 0px !important;
}

.products-indexes-buttons {
    padding-right: 37.5px;
    margin-bottom: 0px !important;

    .btn {
        width: 100%;
        margin-top: 10px;
    }
}
