.ta-toolbar .btn {
    padding: 0 6px;
}

.ta-text {
    .ta-bind {
        white-space: pre-wrap;
        word-wrap: normal;
        background-color: transparent;
        table {
            @extend .table;
            @extend .table-bordered;
            @extend .table-condensed;
        }
    }
}
