<div class="row">
    <div class="col-sm-6">
        <h2><i class="fa fa-tasks"></i> My Tasks</h2>

        <div class="card-tiles">
             <!--ng-table-dynamic="model.tasks.tableParams with model.tasks.cols">-->
            <div class="card" ng-repeat="task in model.tasks.tableParams">
                <p>{{task.step.title}}</p>
                <p>
                    <a ng-href="/interviewRenderer/?surveyId={{task.survey.id}}&taskId={{task.id}}">
                        {{task.survey.title}}
                    </a>
                </p>
                <p>
                    {{task.startDate||task.step.startDate|date:'shortDate'}}
                     -
                    {{task.endDate||task.step.endDate|date:'shortDate'}}
                </p>
            </div>
            <div ng-if="model.tasks.$loading">
                <rd-loading></rd-loading>
            </div>
        </div>
        <div ng-if="!model.tasks.$loading && model.tasks.dataMap && !model.tasks.dataMap.length" class="alert alert-warning">
            notasks
        </div>

    </div>
</div>
