<div class="row" translate-namespace="MESSAGES">
    <div class="col-md-4">
        <div class="list-group">
            <a ng-click="setCurrent(conv)"
               ng-class="{active:isActive(conv)}"
               class="list-group-item" ng-repeat="conv in model.conversations track by $index">
               {{conv.userFullName}} <span class="badge">{{unreadCount(conv)}}</span>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="alert alert-warning" ng-if="!model.currentConv">
            select conv
        </div>
        <div ng-if="model.currentConv">
            <div class=""
                 ng-class="{'bg-warning':!msg.read}"
                 ng-repeat="msg in model.currentConv.messages track by $index">
                <div ng-class="{'text-left':msg.income, 'text-right':msg.outcome}">
                    <small>
                        <b ng-if="msg.outcome" translate=".YOU"></b>
                        <b ng-if="msg.income">{{msg.userFullName}}</b>
                        {{msg.created|date:'short'}}
                    </small>
                </div>
                <div ng-class="{'pull-left':msg.income, 'pull-right':msg.outcome}">{{msg.body}}</div>
                <div class="clearfix"></div>
            </p>

        </div>
    </div>
</div>

