<div class="row">
    <div class="col-md-12">
        <widget-table model="model.activeTasks" row-selector=""></widget-table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <widget-table model="model.futureTasks" row-selector=""></widget-table>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <widget-table model="model.finishedTasks" row-selector=""></widget-table>
    </div>
</div>

<script type="text/ng-template" id="my-tasks-cell-task.html">
    {{row.step.title}} <i class="text-danger fa fa-flag" ng-if="row.flagged"></i><br>
    <small>{{row.step.description}}</small>
</script>

<script type="text/ng-template" id="my-tasks-cell-survey.html">
    <a ui-sref="survey({id: row.survey.id, taskId: row.id})" ng-hide="row.survey.policyId">
        <i class="fa fa-list"></i> {{row.survey.title}}
    </a>
    <a ui-sref="policy.review({id: row.survey.id, taskId: row.id})" ng-show="row.survey.policyId">
        <i class="fa fa-file"></i> {{row.survey.title}}
    </a>
    <br>
    <small>{{row.survey.description}}</small>
</script>

<script type="text/ng-template" id="my-tasks-cell-terms.html">
    {{row.startDate|date}}
    -
    {{row.endDate|date}}
</script>

<script type="text/ng-template" id="my-tasks-cell-product.html">
    {{row.product.title}}
    <br>
    <small>{{row.product.description}}</small>
</script>

<script type="text/ng-template" id="my-tasks-cell-uoa.html">
    <b>{{row.uoa.name}}</b>
    <br>
    <small>{{row.uoa.shortName}}</small>
</script>
