<div translate-namespace="PM_PRODUCT_DASHBOARD">

<div class="pull-right">
    <a ng-href="{{model.exportHref}}" class="btn btn-primary"><i class="fa fa-download"></i> <span translate=".DOWNLOAD_DATA"></span></a>
</div>
<div class="row">
    <div class="col-md-3">
        <p class="indicator-box">
            <span translate=".TASKS_UOAS"></span><br>
            <strong>{{model.tasks.length}}/{{model.uoas.length}}</strong>
        </p>
    </div>
    <div class="col-md-3">
        <p class="indicator-box">
            <span translate=".TASKS_STARTED"></span>
            <br>
            <strong ng-bind="model.count.started"></strong>
        </p>
    </div>
    <div class="col-md-3">
        <p class="indicator-box">
            <span translate=".TASKS_FLAGGED"></span>
            <br>
            <strong ng-bind="model.count.flagged"></strong>
        </p>
    </div>
</div>


<widget-table model="model.tasksTable"></widget-table>

</div>
