<div translate-namespace="PRODUCT_TASKS" class="row" ng-cloak>
    <div class="col-md-2">
        <b translate=".ROLE"></b>:<br>
        {{row.step.role}}
    </div>
    <div class="col-md-6">
        <b translate=".USER"></b>:<br>
        {{row.user.firstName}} {{row.user.lastName}} <small>({{row.user.email}})</small>
    </div>
    <div class="col-md-4">
        <a><i class="fa fa-envelope-o"></i> Notify user</a> <br>
        <a><i class="fa fa-fast-forward"></i> Force complete</a>
    </div>
</div>
