<div translate-namespace="PM_PRODUCT_DASHBOARD">

<div class="row">
    <div class="col-md-10">

        <table class="indicators-table">
            <tr class="indicator-header">
                <td>
                    <span translate=".COUNT_UOAS"></span><br>
                </td>
                <td>
                    <span translate=".COUNT_ONTRACK"></span> / <span translate=".COUNT_LATE"></span>
                </td>
                <td>
                    <span translate=".COUNT_FLAGGED">flagged</span>
                </td>
                <td>
                    <span translate=".COUNT_COMPLETE">complete</span>
                </td>
            </tr>

            <tr class="indicator-values">
                <td>
                    &nbsp;<strong>{{model.count.uoas}}</strong>&nbsp;
                </td>
                <td>
                    &nbsp;<strong>{{model.count.onTime}} / {{model.count.late}}</strong>&nbsp;
                </td>
                <td>
                    &nbsp;<strong>{{model.count.flagged}}</strong>&nbsp;
                </td>
                <td>
                    &nbsp;<strong>{{model.count.complete}}</strong>&nbsp;
                </td>
            </tr>

        </table>

    </div>
    <div class="col-md-2 text-right">
        <a ng-href="{{model.downloadHref}}"
           ng-click="download($event)"
           target="_self"
           download="export.csv"
           class="btn btn-primary"><i class="fa fa-download"></i> <span translate=".DOWNLOAD_DATA"></span></a>
    </div>
</div>


<widget-table model="model.tasksTable"></widget-table>

</div>
