<div class="row">
    <div ng-class="{'col-sm-7': model.showDiscuss, 'col-sm-12': !model.showDiscuss}">
        <rd-widget ng-show="model.title">
            <rd-widget-header title="{{model.title}}"></rd-widget-header>
            <rd-widget-body>
                <policy-block policy-data="model.surveyData.policy"></policy-block>
                <survey-form survey-data="model.surveyData" ng-class="{'flagged-survey':model.surveyData.resolveData}"></survey-form>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-sm-5" ng-show="model.showDiscuss">
        <rd-widget ng-show="model.title">
            <rd-widget-header title="{{'SURVEYS.DISCUSSION' | translate}}"></rd-widget-header>
            <rd-widget-body classes="group-discussion">
                <policy-discussion survey-data="model.surveyData"></policy-discussion>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
