<div class="row policy-edit">
    <!-- gs-palette></gs-palette -->
    <div name="dataForm" class="col-sm-12 form-horizontal" ng-form="dataForm">
        <policy-block policy-data="model.policy"></policy-block>
        <form-builder ng-model="model.survey"></form-builder>

        <div no-compile form-builder-control>
            <div class="form-builder-control text-right">
                    <button class="btn btn-default" ng-click="save()"
                            ng-disabled="dataForm.$invalid || !dataForm.$dirty"
                            translate="COMMON.SAVE"></button>
                    <button class="btn btn-primary" ng-click="publish()"
                            ng-disabled="dataForm.$invalid || !dataForm.$dirty"
                            translate="POLICY.PUBLISH"></button>
                    <button class="btn btn-default" ng-click="cancel()" translate="COMMON.CANCEL"></button>
            </div>
        </div>
    </div>
</div>
