<div class="row">
    <div ng-class="{'col-sm-7': model.isTaskMode, 'col-sm-12': !model.isTaskMode}">
        <rd-widget ng-show="model.title">
            <rd-widget-header title="{{model.title}}"></rd-widget-header>
            <rd-widget-body>
                <policy-block></policy-block>
                <survey-form survey-data="model" ng-class="{'flagged-survey':model.resolveData}" ng-if="model.isTaskMode"></survey-form>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-sm-5" ng-show="model.isTaskMode">
        <div fixed-on-scroll="{fitHeight: true}">
            <rd-widget ng-show="model.title" >
                <rd-widget-header title="{{'SURVEYS.DISCUSSION' | translate}}"></rd-widget-header>
                <rd-widget-body classes="group-discussion">
                    <policy-discussion policy="model.policy"></policy-discussion>
                </rd-widget-body>
            </rd-widget>
        </div>
    </div>
</div>
