<div class="row policy-edit">
    <!-- gs-palette></gs-palette -->
    <div name="dataForm" class="col-sm-12 form-horizontal" ng-form="dataForm">
        <div class="row">
            <div class="col-sm-7">
                <policy-block policy-data="model.policy"></policy-block>
            </div>

            <div class="col-sm-5" ng-if="model.policy.taskId">
                <rd-widget>
                    <rd-widget-header title="{{'SURVEYS.DISCUSSION' | translate}}"></rd-widget-header>
                    <rd-widget-body classes="group-discussion">
                        <policy-discussion policy="model.policy"></policy-discussion>
                    </rd-widget-body>
                </rd-widget>
            </div>
        </div>
        <form-builder ng-model="model.survey"></form-builder>

        <div no-compile form-builder-control>
            <div class="form-builder-control text-right">
                <button class="btn btn-default" ng-click="save()"
                        ng-disabled="dataForm.$invalid || !dataForm.$dirty"
                        translate="COMMON.SAVE"></button>
                <button class="btn btn-primary" ng-click="publish()"
                        ng-disabled="publishIsDisabled(dataForm)"
                        translate="POLICY.PUBLISH"></button>
                <button class="btn btn-default" ng-click="cancel()" translate="COMMON.CANCEL"></button>
            </div>
        </div>
    </div>
</div>
