<div ng-if="!cell.users.length && !cell.groups.length">
    <b translate="COMMON.UNASSIGNED"></b>
</div>
<div class="assign-item" ng-if="cell.users" ng-repeat="item in cell.users track by $index">
    <div class="pull-right unassign-item action"><i class="fa fa-trash"></i></div>
    <a ng-if="ext.product.surveyId" ui-sref="survey({id: ext.product.surveyId, taskId:cell.id})">
        <div><b>{{item.fullName}}</b></div>
        <small>{{item.email}}</small>
    </a>
    <div ng-if="!ext.product.surveyId">
        <div><b>{{item.fullName}}</b></div>
        <small>{{item.email}}</small>
    </div>
</div>
<div class="assign-item" ng-if="cell.groups" ng-repeat="item in cell.groups track by $index">
    <div class="pull-right unassign-item action"><i class="fa fa-trash"></i></div>
    <a ng-if="ext.product.surveyId"
       ui-sref="survey({id: ext.product.surveyId, taskId: cell.id})"><b>{{item.title}}</b></a>
    <div ng-if="!ext.product.surveyId"><b>{{item.title}}</b></div>
</div>
<div class="pull-right edit-task action"><i class="fa fa-pencil"></i></div>
<small>{{cell.startDate|date:'shortDate'}} - {{cell.endDate|date:'shortDate'}}</small>
