<div class="row" translate-namespace="PRODUCTS.TASKS">

    <div ng-if="model.workflowSteps.length && model.uoas.length" class="col-md-9">
        <div ng-if="model.tasks">
            <widget-table model="model.tasks" class="table-bordered"></widget-table>
        </div>
    </div>

    <div ng-if="!model.$loading && model.tasks" class="col-md-3">
        <div class="form-group">
            <label translate=".SELECT_ROLE_LABEL"></label>
            <select class="form-control"
                    ng-model="model.selectedRole"
                    ng-change="searchUsers()"
                    ng-options="role as role.name for role in model.roles">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate=".SEARCH_USER_LABEL"></label>
            <input type="text" class="form-control"
                   ng-change="searchUsers()"
                   ng-model="model.searchText" />
        </div>
        <div class="form-group" ng-if="model.usersSearchResult.length">
            <label translate=".DRAG_USER"></label>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr ng-repeat="item in model.usersSearchResult track by item.id">
                        <td class="drag-user" ng-bind-html="item.user.firstName + ' ' + item.user.lastName + ' (' + item.user.email + ')' | highlight:model.searchText"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" ng-if="!model.usersSearchResult.length && (model.selectedRole.id || model.searchText)">
            <div ng-show="model.selectedRole.id" translate=".USERS_NOT_FOUND_BY_ROLE" translate-values="{role:model.selectedRole.name}"></div>
            <div ng-show="model.searchText" translate=".USERS_NOT_FOUND_BY_SEARCH" translate-values="{search:model.searchUser}"></div>
        </div>
    </div>

    <div ng-if="!model.$loading && !model.uoas.length">
        <div class="alert alert-warning" translate=".NO_UOAS"></div>
    </div>
    <div ng-if="!model.$loading && !model.workflowSteps.length">
        <div class="alert alert-warning" translate=".NO_WORKFLOW_STEPS"></div>
    </div>

    <div ng-if="model.$loading" class="col-md-12">
        <rd-loading></rd-loading>
    </div>
</div>
