<div class="row" translate-namespace="PROFILE">
    <div class="col-md-6">
        <rd-widget>
            <rd-widget-header icon="fa fa-user"
                              title="{{model.user.firstName}} {{model.user.lastName}}"></rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="col-sm-12">
                    <table class="table table-responsive">
                        <tr ng-repeat="item in view.user" ng-show="item.show">
                            <td>{{item.title}}</td>
                            <td><span>{{model.user[item.field]}}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <span  translate=".PROFILE"></span> <span ng-show="model.user.isActive" class="text-success"> <span translate=".ACTIVATED"></span> <i class="fa fa-check"></i></span>
                                <span ng-hide="model.user.isActive" class="text-danger"> <span translate=".NOT_ACTIVATED"></span> <i class="fa fa-warning"></i></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget-footer class="text-right">
                <button class="btn btn-success" ng-click="editProfile()" translate="COMMON.EDIT"></button>
            </rd-widget-footer>
        </rd-widget>
    </div>
    <div class="col-md-6" ng-show="model.org.loaded">
        <rd-widget>
            <rd-widget-header icon="fa fa-group" title="{{model.org.name}}"></rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive col-sm-12">
                    <table class="table">
                        <tr>
                            <td><span translate=".URL"></span></td>
                            <td>{{model.org.url}}</td>
                        </tr>
                        <tr>
                            <td><span translate=".ADDRESS"></span></td>
                            <td>{{model.org.address}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <span translate=".ORGANIZATION"></span><span ng-show="model.org.isActive" class="text-success"> <span translate=".VERIFIED"></span> <i class="fa fa-check"></i></span>
                                <span ng-hide="model.org.isActive" class="text-danger"> <span translate=".NOT_VERIFIED"></span> <i class="fa fa-warning"></i></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget-footer class="text-right">
                <button class="btn btn-success" ng-click="editOrg()" ng-disabled="model.orgReadonly" translate="COMMON.EDIT"></button>
            </rd-widget-footer>
        </rd-widget>
    </div>
</div>
