<h3>{{model.project.codeName}} Project</h3>
<uib-tabset>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-group"></i> User Roles
        </uib-tab-heading>
        <widget-table model="model.entRoles"></widget-table>

    </uib-tab>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-table"></i> Units Of Analysis
        </uib-tab-heading>


    </uib-tab>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-list"></i> Surveys
        </uib-tab-heading>


    </uib-tab>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-sitemap"></i> Workflows
        </uib-tab-heading>


    </uib-tab>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-briefcase"></i> Products
        </uib-tab-heading>


    </uib-tab>

    <uib-tab>
        <uib-tab-heading>
            <i class="fa fa-tasks"></i> Tasks
        </uib-tab-heading>


    </uib-tab>

</uib-tabset>
