<div class="row">
    <div class="col-sm-7">
        <rd-widget ng-show="model.title">
            <rd-widget-header title="{{model.title}}"></rd-widget-header>
            <rd-widget-body>
                <survey-form survey-data="model.surveyData"></survey-form>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-sm-5">
        <rd-widget ng-show="model.title">
            <rd-widget-header title="{{'SURVEYS.DISCUSSION' | translate}}"></rd-widget-header>
            <rd-widget-body classes="group-discussion">
                <survey-discussion survey-data="model.surveyData.survey"></survey-discussion>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
