<div class="row" translate-namespace="SURVEYS">
    <div name="dataForm" class="form-horizontal" ng-form="dataForm">
        <div class="form-group" ng-show="model.survey.id">
            <label class="col-sm-4 control-label">ID:</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{model.survey.id}}</p>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-4 control-label" translate=".TITLE"></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="title" id="title" ng-model="model.survey.title" />
            </div>
        </div>

        <div class="form-group">
            <label for="draft" class="col-sm-4 control-label" translate=".IS_DRAFT"></label>
            <div class="col-sm-8">
                <input type="checkbox" name="draft" id="draft" ng-model="model.survey.isDraft" />
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-4 control-label" translate=".DESCRIPTION"></label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" name="description" id="description"
                          ng-model="model.survey.description"></textarea>
            </div>
        </div>

        <form-builder ng-model="model.survey"></form-builder>

        <button class="btn btn-default" ng-click="cancel()" translate="COMMON.CANCEL"></button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="dataForm.$invalid || !dataForm.$dirty" translate="COMMON.SAVE"></button>
    </div>
</div>
