<div class="row">
    <div class="col-md-12">
        <widget-table model="model.uoas" row-selector="selectUoa"></widget-table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <widget-table model="model.uoaTagLinks"></widget-table>
    </div>
    <div class="col-md-6">
        <widget-table model="model.uoaTags"></widget-table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <widget-table model="model.uoaTypes"></widget-table>
    </div>
    <div class="col-md-6">
        <widget-table model="model.uoaClassTypes"></widget-table>
    </div>
</div>
