<div translate-namespace="USER_GROUPS">
    <div ng-if="model.organizations" class="section">
        <div  class="form-inline">
            <div class="form-group">
                <label translate=".ORGANIZATION"></label>:
                <select class="form-control"
                        ng-model="model.organizationId"
                        ng-change="organizationSelected()"
                        ng-options="org.id as org.name for org in model.organizations">
                </select>
            </div>
        </div>
    </div>

    <div ng-if="model.userGroups">
        <widget-table model="model.userGroups" row-selector="showUserInfo"></widget-table>
    </div>

    <div ng-if="!model.$loading && !model.userGroups" class="alert alert-warning" translate=".SELECT_ORGANIZATION"></div>

    <rd-loading ng-if="model.$loading" class="compact"></rd-loading>

</div>
