<rd-widget>
    <rd-widget-body loading="model.loading">
        <div class="row user-uoa" translate-namespace="USERS_UOA">
            <div class="col-md-6">
                <h5><span translate=".USERS"></span>:</h5>
                <select multiple class="form-control"
                        ng-change="onUserSelect()"
                        ng-model="model.selectedUsers"
                        ng-options="item.id as item.firstName + ' ' +item.lastName + ' ('+item.email+')' for item in model.users">
                </select>
            </div>
            <div class="col-md-6">
                <h5><span translate="UOAS"></span>:</h5>
                <uib-tabset>
                    <uib-tab heading="{{tns + 'PUBLIC'|translate}}">
                        <div class="panel panel-default">
                            <checkbox-list list-items="model.pubUoa" on-item-change="checkItem"></checkbox-list>
                        </div>
                    </uib-tab>
                    <uib-tab heading="{{tns + 'PRIVATE'|translate}}">
                        <div class="panel panel-default">
                            <checkbox-list list-items="model.privUoa" on-item-change="checkItem"></checkbox-list>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </rd-widget-body>
    <rd-widget-footer class="text-right">
        <button class="btn btn-primary" ng-disabled="!model.hasChanges" ng-click="applyChanges()" translate="COMMON.APPLY"></button>
    </rd-widget-footer>
</rd-widget>
