<div class="row" translate-namespace="IMPORT">
    <h4 translate=".USERS"></h4>
    <div ng-if="model.organizations" class="form-inline">
        <div class="form-group">
            <label translate=".ORGANIZATION"></label>:
            <select class="form-control"
                    ng-model="model.organizationId"
                    ng-options="org.id as org.name for org in model.organizations">
            </select>
        </div>
    </div>
    <upload-form
        upload-endpoint="organizations/{{model.organizationId}}/users_csv"
        upload-before="beforeUpload"></upload-form>
</div>
