<div ng-if="globalModel.organization">
    <div class="section">
        <div class="pull-right">
            <a href="fixtures/users_import_err.csv" translate="IMPORT.USERS.DOWNLOAD_EXAMPLE"></a>
        </div>
    </div>
    <div class="clearfix"></div>

    <upload-form
        upload-endpoint="organizations/{{tabsModel.organizationId}}/users_csv"
        upload-disable="disableUpload"
        upload-success="afterUpload">
    </upload-form>

    <div ng-if="model.importResults">
        <widget-table model="model.importUsers" class="table-bordered"></widget-table>
    </div>
</div>

<rd-loading ng-if="!globalModel.organization" class="compact"></rd-loading>
