<div class="row">
    <div class="col-md-12">
        <rd-widget>
            <rd-widget-header icon="fa fa-globe" title="Map"></rd-widget-header>
            <rd-widget-body classes="medium no-padding">
              <map-viz viz-data="vizData" geo-Data="geoData"></map-viz>
            </rd-widget-body>
        </rd-widget>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <label for="topicdropdown"> Topic </label>
        <select class="form-control" id="topicDropdown" ng-model="filterParams.topicSelected" ng-options="topic as topic.name for topic in topics track by topic.isoa2">
        <option value="topic">--Choose topic--</option></select>
      </div>
      <div class="form-group">
        <label for="topicDropdown"> Subtopic </label>
        <select class="form-control" id="subtopicDropdown" ng-model="filterParams.subtopicSelected" ng-options="st as st.name for st in filterOptions.subtopics track by st.id"><option value="st">--Choose subtopic--</option>
        </select>
        <div ng-show="filterParams.subtopicSelected == 111" class="ng-hide">
          <label for="continentDropdown"> Continent </label>
          <select class="form-control" id="continentDropdown" ng-model="filterParams.subtopicSelected.continent" ng-options="ct as ct.name for ct in filterOptions.continents track by ct.isoa2"><option value="ct">--Choose continent--</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="questionDropdown"> Question </label>
        <select class="form-control" ng-model="filterParams.questionSelected" ng-options="question as question.qid for question in surveys" id="questionDropdown" placeholder="Question..."><option value="question">Question id</option></select>
      </div>
      <div class="form-group">
        <label for="mapQueryInput"> Custom Query: </label>
        <input class="form-control" placeholder="question1:yes" ng-model="filterParams.mapQuery" id="mapQueryInput"></input>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
